.check_list {
    list-style-type: none;
    font-size: larger;
}
.filter_panel {
    width: 40%;
    border-style: dashed;
    border-width: thin;
    border-radius: 20px;
    border-color: teal;
    padding: 1%;
    color: teal;
}
.filter_panel:hover {
    background: teal;
    color: white;
}
.filter_name {
    text-align: center;
    font-family: boogaloo, cursive;
    margin-bottom: 5%;
}

.filter_item {
    margin: 5% 0;
    min-height: 35px;
    padding: 3%;
    border-radius: 10px;
    width: 65%;
}

.filter_item:hover{
    background: white;
    color: teal;
}