.list_of_games {
    width: 100%;
    padding: 0 5% 0 5%;
    margin-top: -5%;
}
.past_game_button {
    width: 15%;
    min-width: 150px;
    margin: 0% 0% 3% 5%;
}

.h3_alternate {
    color: white;
    text-shadow: -1px -1px 0 #260e04, 1px -1px 0 #260e04, -1px 1px 0 #260e04, 1px 1px 0 #260e04;
    font-family: 'Yellowtail', cursive;
    text-align: left;
    padding-left: 3%;
    font-size: 250%;
    margin-bottom: 3%;
}

.h3_main {
    color: #260e04;
    text-shadow: -0.5px -0.5px 0 #EA8D47, 0.5px -0.5px 0 #EA8D47, -0.5px 0.5px 0 #EA8D47, 0.5px 0.5px 0 #EA8D47;
    font-family: 'Yellowtail', cursive;
    text-align: left;
    font-size: 300%;
    margin: 3% 0% 1%;
    
}

.games_per_year {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(172,173,178);
    padding-top: 2%;
}

.hide_button {
    text-align: right;
    position: relative;
    /* left: 10%; */
    top: -50px;
    /* font-weight: bold; */
    color: orange;
}