.buffer {
    width: 33%;
}
.pick_option {
    width: 13%;
    margin: auto;
}
.draft_option {
    width: 17%;
    margin: auto;
}
.reduced_container {
    width: 100%;
    padding: 0px;
    text-align: center;
}