/* Dark brown: #260e04 */
.content_button {
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
    min-width: 100px;
}
/* Color themes (=> app.css) */
/* default */
.default_color {
    background: linear-gradient(70deg, #DE733A,#EA8D47);
    color: white;
}

.default_color:active {
    background: white;
    color: #DE733A;
    border-style: solid;
    border-color: #260e04;
    border-width: 0.5px;
}
/* contrast */
.contrast_color {
    background: linear-gradient(160deg, teal, #17a2b8);
    color: white;
}
.contrast_color:active {
    background: white;
    color: #007bff;
    border-style: solid;
    border-color: #260e04;
    border-width: 0.5px;
}
/* darker */
.darker_color {
    background: linear-gradient(70deg, #FF5D00,#DE733A);
    color: white;    
}
.darker_color:active {
    background: white;
    color: #FF5D00;
    border-style: solid;
    border-color: #260e04;
    border-width: 0.5px;
}
/* lighter */
.lighter_color {
    background: linear-gradient(70deg, #EA8D47,#ffbe75);
    border-right-color: #ffbe75;
    color: white;    
}
.lighter_color:active {
    background: white;
    color: #EA8D47;
    border-style: solid;
    border-color: #260e04;
    border-width: 0.5px;
}
/* negative */
.negative_color {
    background-color: white;
    color: #EA8D47;
    border-style: solid;
    border-color: #EA8D47;
    border-width: 1px;
}
.negative_color:active {
    background: #EA8D47;
    color: white;
    border-style: solid;
    border-color: #260e04;
    border-width: 0.5px;
}

.leaning_right_color {
    background: linear-gradient(70deg, #DE733A,#EA8D47);
    color: white;
}
.leaning_left_color {
    background: linear-gradient(70deg, #EA8D47, #DE733A);
    color: white;
}
.plain_color{
    background: linear-gradient(0deg, #EA8D47, #DE733A);
    color: white;
}
/* greys */
/*.dark_grey:hover {
    background-color: #7d7e83;
    border-color: black;
}

.regular_grey:hover {
    background-color: #acadb2;
    border-color: black;
}

.light_grey:hover {
    background-color: #dedfe4;
    border-color: black;
}*/
/* "Main" Theme */
.main_main {
    background: #FFFFFF;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    min-width: 300px;
    margin: auto;
    padding: 5% 0;
    /* for testing purposes (this is in draft.css) */
    margin-bottom: 3%;
}
.h1_main {
    color: #260e04;
    text-shadow: 
        -0.5px -0.5px 0 #EA8D47, 
        0.5px -0.5px 0 #EA8D47, 
        -0.5px 0.5px 0 #EA8D47, 
        0.5px 0.5px 0 #EA8D47;
    
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 312%;
    position: relative;
    margin-bottom: 6%;
}

.h1_alternate {
    color: white;
    text-shadow: 
        -1px -1px 0 #260e04, 
        1px -1px 0 #260e04, 
        -1px 1px 0 #260e04, 
        1px 1px 0 #260e04;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 312%;
    position: relative;
    margin-bottom: 6%;
}
.h1_negative {
    color: black;
}
.h2_main {
    font-family: boogaloo;
    font-size: 150%;
    margin-bottom: 10%;
    text-align: center;
    color: #260e04;
    /* margin-left: -5%; */
}

.h2_alternate {
    color: white;
    font-family: boogaloo;
    font-size: 150%;
    margin-bottom: 10%;
    text-align: center;
    /* margin-left: -5%; */
}

/* "Alternate" theme */
.main_alternate {
    background: #EA8D47;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    min-width: 300px;
    margin-left: 15%;
    padding: 5% 0;
    /* for testing purposes (this is in draft.css) */
    margin-bottom: 200px;
}

.hidden {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.visible {
    visibility: visible;
}
/* Mobile screen responsiveness in app.css */
@media only screen and (max-width: 700px) {
    .btn {
        font-size: 60%;
    }
    .h1_alternate {
        font-size: 150%;
    }
    .h3_alternate {
        font-size: 150%;
    }
    .h3_main {
        font-size: 150%;
    }
    .past_game_button {
        min-width: 30%;
    }
    .data {
        font-size: 75%;
        margin: 0 10%;
        padding: 10% 15%;
    }
    .darker_icon {
        font-size: 130%;
    }
    .lighter_icon {
        font-size: 130%;
    }
    .player_stats {
        width: 30%;
    }
    td {
        font-size: 70%;
    }
    th {
        font-size: 70%;
    }
}
@media only screen and (max-width: 300px) {
.player_stats {
    display: inline-table
    }
}