/* /////////////// */
/* iphone portrait */
/* /////////////// */

@media only screen and (max-width: 375px) {
    .nav-link {
        font-size: 85%;
    }
    /* Home Page */
    .page_div {
        width: 40%;
        margin: 2.5% 29% 10%;
    }
    .instructions_div {
        display: inline;
    }
    .instruction {
        min-height: 0px;
    }
    .instructions_text {
        font-size: 90%;
    }
    /* Player Page */
    .full_tab_size {
        width: 100%;
    }
    .player_table {
        display: inline-flex;
        width: 30%;
    }
    input {
        width: 100%;
    }
    /* Draft Page */
    .drafter_mode {
        display: block;
    }
    .organizer {
        display: grid;
    }
    .react-datepicker__input-container {
        width: 100%;
    }
    #in-line {
        margin-bottom: 7%;
    }
    .show_games {
        margin-bottom: 7%;
    }
    .col_no_bootstrap {
        width: 100%;
        display: contents;
    }
    .button_container {
        padding: 0%;
    }
    .game_options {
        width: 130px;
        height: 30px;
    }
    .player_div {
        width: 100%;
    }
    .game_date {
        margin-top: 7%;
        margin-bottom: -21px;
    }
    .game_options_container {
        display: block;
    }
    .content_button {
        margin: 2% 0 2% 0;
    }
    .draft_option {
        width: 150px;
    }
    .game_options_container {
        margin-bottom: 7%;
    }
    .picker_mode {
        display: -webkit-inline-box;
    }
    .list_of_unpicked_players {
        width: 40%;
    }
    .list_of_picked_players {
        width: 45%;
        padding-left: 1%;
    }
    .pick_col_header {
        display: none;
    }
    .pick_option, .draft_option {
        text-align: center;
        font-size: xx-small;
        margin: 0 1%;
        width: 27%;
    }
    .reduced_container {
        padding: 0 1%;
        text-align: center;
    }
    .player_picking_div {
        min-width: 200px;
    }
    .lock {
        margin: 2%;
    }
    .leaning_right_div {
        margin-left: -13%;
    }
    .leaning_left_div {
        margin-left: 28%;
    }
    .leaning_center_div {
        margin-left: 11%;
    }
    /* Stats page */
    .list_of_games {
        width: 80%;
        margin-left: 7%;
    }
    .past_game_button {
        min-width: 23%;
        font-size: xx-small;
    }
    /* .tables_container {
        width: 70%;
    } */
    .table_container{
        min-width: 200px;
    }
    /* .player_stats {
    display: inline-table
    } */
    .stats {
        width: 100%;
    }
    .player_stats {
        width: 100%;
    }
    .data {
        font-size: 75%;
        margin: 0px 4% 0px;
        padding: 3% 5%;
    }
    .stats_row {
        height: 40px;
        display: flex;
    }
    th {
        display: -webkit-inline-box;
        width: 33%;
    }
    .darker_icon {
        font-size: 150%;
    }
    .lighter_icon {
        font-size: 150%;
    }
    .nice {
        padding: 5%;
        margin: 0 5px 0 5px;
    }
    .null {
        padding: 5%;
        margin: 0 14px 0 14px;
        font-size: 1.2em;
    }
    table {
        margin-bottom: 7%;
    }
    /* records */
    .record_game_button, .record_player_button, .tab_button {
        font-size: xx-small;
        padding: 1% 5% 1% 2%;
        min-width: 80px;
    }
}
@media only screen and (max-width: 370px) {
    .header_h3 {
        font-size: 100%;
    }
    .stats_data {
        width: 30%;
    }
    .past_game_button {
        padding-left: 2%;
    }
    .stats_row {
        max-width: 82%;
    }
    .stats_name {
        max-width: 120px;
        overflow-x: auto;
        margin-right: 3%;
    }
    .data {
        margin: 0px 5%;
    }
    th {
        width: 25%;
    }
    .stats {
        text-align: unset;
        position: relative;
        left: -20%;
    }
    
}