/* ///////////// */
/* ipad portrait */
/* ///////////// */

@media only screen and (max-width: 768px) {
    /* all */
    .h1_main, .h1_alternate, .h1_negative {
        font-size: 150%;
    }
    
    .h2_main, .h2_alternate, .h2_negative {
        font-size: 110%;
    }

    .h3_main, .h3_alternate, .h3_negative {
        font-size: 140%;
    }
    .h3_alternate {
        color: #260e04;
        text-shadow: none;
    }
    .main_main {
        width: 95%;
    }
    /* draft page */
    .col_no_bootstrap {
        width: 25%;
    }
    /* .leaning_right_div {
        margin-left: -25%;
    }
    .leaning_center_div {
        margin-left: -5%;
    }
    .leaning_left_div {
        margin-left: 10%;
    } */
    .list-management{
        padding-top: 3%;
    }
    .button_container {
        padding: 0 2%
    }
    .remove_game {
        top: -17px;
        left: -3%;
        font-size: 90%;
    }
    .content_button, .game_button {
        min-width: 80px;
    }
    .game_options {
        height: 45px;
    }
    .content_button, .change_list_display {
        font-size: x-small;
        height: 30px;
    }
    .change_list_display {
        margin: 7% auto -3% auto;
        width: 25%;
    }
    .arrows {
        font-size: 135%;
    }
    .remove_player {
        font-size: 100%;
        top: -12px;
        left: -2px;
    }
    .pick_option, .draft_option {
        text-align: center;
        font-size: xx-small;
        margin: 0 1%;
        width: 25%;
    }
    .invisible_div {
        width: 0px;
    }
    .react-datepicker__input-container {
        width: 60%;
    }
    input {
        height: 25px;
        width: 120%;
        font-size: x-small;
    }
    /* .drafter_mode {
        display: block;
    } */
    .game_date {
        margin-top: 7%;
    }
    .game_options_container {
        display: block;
    }
    /* .lock_icons_container {
        display: inline-flex;
    } */
    
    .player_picking_div {
        margin-top: 3%;
    }
    .list_of_picked_players {
        width: unset;
        margin-left: 0%;
        width: 70%;
    }
    /* stats page */
    .past_game_button {
        min-width: 15%;
        font-size: x-small;
    }
    .hide_button {
        font-size: 75%;
    }
    /* this will work up to width of 359px ...because of the min-width on .table_container?*/
    .tables_container {
        display: inline-flex;
        width: 95%;
    }
    .table_container {
        width: 50%;
    } 
    .data {
        font-size: 75%;
        margin: 0px 10% 0px;
        padding: 11% 10%;
    }
    .darker_icon {
        font-size: 130%;
    }
    .lighter_icon {
        font-size: 130%;
    }
    td {
        font-size: 70%;
    }
    th {
        font-size: 70%;
    }
    /* records page */
    .player_card {
        width: 47%;
        height: 250px;
    }
    .record_player_button{
        min-width: 120px;
    }
    .button_options_first_set {
        width: 100%;
        margin: 0% auto 7%;
        text-align: center
    }
    .button_options_second_set {
        width: 100%;
    }
    .entry {
        font-size: 130%;
    }
    .value {
        font-weight: bold;
        font-size: 130%;
        margin-left: 5%;
    }
    .player_name {
        font-size: 165%;
    }
    /* Player page */
    .tab {
        font-size: 80%;
        margin-bottom: -1px;
    }
    /* Home page */
    
}
/* transition is hard for drafting monde */
@media only screen and (max-width: 579px) {
    .drafter_mode {
        display: block;
    }
    .leaning_right_div {
        margin-left: -13%;
    }
    .leaning_left_div {
        margin-left: 28%;
    }
    .leaning_center_div {
        margin-left: 11%;
    }
    .col_no_bootstrap {
        width: 85%;
    }
}
/* transition is hard for picking mode */
@media only screen and (max-width: 768px) {
    .picker_mode {
        display: -webkit-inline-box;
    }
    .list_of_unpicked_players {
        width: 40%;
    }
    .list_of_picked_players {
        width: 0%;
    }
    .pick_col_header {
        display: none;
    }
    .set_picks_col {
        width: 80%;
    }
    .data, .nice {
        font-size: 150%;
        margin: 0px 8% 0px;
        padding: 8% 8%;
    }
    .darker_icon {
        font-size: 200%;
    }
    .lighter_icon {
        font-size: 200%;
    }
}