/* Mobile screen responsiveness in app.css */
/* ipad landscape */
@media only screen and (max-width: 1025px) {
    /* all */
    .main_main {
        width: 85%;
    }
    .h1_main, .h1_alternate, .h1_negative {
        font-size: 200%;
    }
    .h2_main, .h2_alternate, .h2_negative {
        font-size: 120%;
    }
    .h3_main, .h3_alternate, .h3_negative {
        font-size: 160%;
    }
    /* draft page */
    .content_button, .game_button, .contrast_color, .player_button {
        font-size: small;
        min-width: 60px;
    }
    .player_button {
        width: 35%;
    }
    .player_picking {
        width: 35%;
    }
    .arrows {
        font-size: 180%;
    }
    .change_list_display {
        margin: 1% auto -3% auto;
    }
    /* Stats Page */
    .darker_icon {
        font-size: 135%
    }
    .lighter_icon {
        font-size: 135%
    }
    .tables_container {
        display: inline-flex;
        width: 95%;
    }
    /* Records page */
    .full {
        padding: 0 15px;
    }
    .list_of_games {
        padding: 5%;
    }
    .list_of_players {
        padding: 0px;
    }
    .player_card {
        width: 30%;
        height: 250px;
    }
    .list_of_options {
        margin-bottom: 2%;
        padding: 1% 0
    }
}