#range_submit {
    margin: 5% 0% 0% 91%;
}

.records_calendar {
    width: 100%;
    display: inline-flex;
    margin: 1% 0% 5% 0%;
}
.calendar_alignment{
    margin: 0 0 0 10%;
    width: 25%;
}
.react-datepicker__close-icon {
    position: absolute;
    top: 50%;
    left: 150%;
}