.player_card {
    border-style: solid;
    border-width: 1px;
    display: inline-grid;
    border-radius: 20px;
    padding: 1% 1% 1% 2%;
    margin: 1% 1% 1% 2%;
    width: 22%;
    height: 200px;
}

.player_name {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 70%;
    padding-bottom: 4%;
    margin-bottom: 10%;
    text-align: center;
    margin: 0 auto 2%;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 125%;
}

.player_data {
    padding-top: 8%;
    position: relative;
    overflow: scroll;
}

.member_record {
    color: teal;
    border-color: teal;
}

.non_member_record {
    color: #EA8D47;
    border-color: #EA8D47;
}

.entry {
    font-variant: small-caps;
}

.addendum {
    padding-left: 5%;
    font-size: 85%;
}

.value {
    font-weight: bold;
}

.unselected_tab {
    color: teal;
    border-style: solid;
    border-color: teal;
    border-width: 2px;
    background-color: white;
}

.tab_button {
    margin: 1% 3%;
    border-radius: 20px;
    padding: 10px 1% 10px 2%;
    max-height: 50px;
}

.selected_tab {
    background: linear-gradient(160deg, teal, #17a2b8);
    color: white;
}

.sort_action_icon {
    margin-left: 15px;
}
.sorting_arrow {
    font-size: 130%;
}
.active {
    color: #EA8D47;
}

.inactive {
    color: teal;
}

.list_of_options {
    margin-bottom: 7%;
    padding: 0 5% 0 5%;
}

/* .dot_Defense {
    color: rgba(255, 99, 132, 0.6);
}

.dot_Forward {
    color: rgba(54, 162, 235, 0.6);
}

.dot_Goalie {
    color: rgba(255, 159, 64, 0.6);
} */

.position_dot {
    font-size: 50%;
    position: relative;
    bottom: 20%;
    left: 5%;
}

.button_options_second_set {
    margin: 7% auto;
    text-align: center;
}

.unselected_forward {
    color: #b39ddb;
    border-style: solid;
    border-color: #b39ddb;
    border-width: 2px;
    background-color: white;
}

.selected_forward {
    background: #b39ddb;
    color: white;
}

.unselected_goalie {
    color: #5d4037;
    border-style: solid;
    border-color: #5d4037;
    border-width: 2px;
    background-color: white;
}

.selected_goalie {
    background: #5d4037;
    color: white;
}

.unselected_defense {
    color: #fbc02d;
    border-style: solid;
    border-color: #fbc02d;
    border-width: 2px;
    background-color: white;
}

.selected_defense {
    background: #fbc02d;
    color: white;
}

.wrapping_card_div {
    display: inline;
}
.hidden_card {
    display: none;
}

.records {
    padding: 0 5%;
}

.hide_button {
    text-align: center;
}