.player_card {
    border-style: solid;
    border-width: 1px;
    display: inline-grid;
    border-radius: 20px;
    padding: 1% 1% 1% 2%;
    margin: 1% 1% 1% 2%;
    width: 20%;
    height: 200px;
}

.player_name {
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 10%;
    font-size: 125%;
    text-align: center;
}

.player_data {
    position: relative;
    overflow: scroll;
}

.member_record {
    color: teal;
    border-color: teal;
}

.non_member_record {
    color: #EA8D47;
    border-color: #EA8D47;
}

.entry {
    font-variant: small-caps;
}

.addendum {
    padding-left: 5%;
    font-size: 85%;
}

.value {
    font-weight: bold;
}

.unselected_tab {
    color: teal;
    border-style: solid;
    border-color: teal;
    border-width: 2px;
}

.tab_button {
    margin: 1% 2%;
    border-radius: 20px;
    padding: 1% 1% 1% 2%;
}

.selected_tab {
    background: linear-gradient(160deg, teal, #17a2b8);
    color: white;
}

.sort_action_icon {
    margin-left: 15px;
}
.sorting_arrow {
    font-size: 130%;
}
.active {
    color: #EA8D47;
}

.inactive {
    color: teal;
}

.list_of_options {
    margin-bottom: 7%;
    padding: 0 5% 0 5%;
}

.dot_Defense {
    color: rgba(255, 99, 132, 0.6);
}

.dot_Forward {
    color: rgba(54, 162, 235, 0.6);
}

.dot_Goalie {
    color: rgba(255, 159, 64, 0.6);
}

.position_dot {
    font-size: 50%;
    position: relative;
    bottom: 20%;
    left: 5%;
}

.button_options_second_set {
    width: 80%;
    margin: 7% auto;
    text-align: center;
}

.unselected_forward {
    color: rgba(54, 162, 235, 0.6);
    border-style: solid;
    border-color: rgba(54, 162, 235, 0.6);
    border-width: 2px;
}

.selected_forward {
    background: rgba(54, 162, 235, 0.6);
    color: white;
}

.unselected_goalie {
    color: rgba(255, 159, 64, 0.6);
    border-style: solid;
    border-color: rgba(255, 159, 64, 0.6);
    border-width: 2px;
}

.selected_goalie {
    background: rgba(255, 159, 64, 0.6);
    color: white;
}

.unselected_defense {
    color: rgba(255, 99, 132, 0.6);
    border-style: solid;
    border-color: rgba(255, 99, 132, 0.6);
    border-width: 2px;
}

.selected_defense {
    background: rgba(255, 99, 132, 0.6);
    color: white;
}
.wrapping_card_div {
    display: inline;
}
.hidden_card {
    visibility: hidden;
    position: absolute;
}