.game_button {
    width: 40%;
    margin: 2% 0% 6%;    
}

.show_games {
    min-width: 50px;
    text-align: center;
}
.remove_game {
    position: relative;
    font-size: 115%;
    top: -24px;
    left: -2%;
}
.remove_game:hover {
    color: red;
}
.list-management {
    overflow: scroll;
    max-height: 200px;
}
.no_game {
    border-style: solid;
    text-align: center;
    border-width: 1px;
    border-color: #ffbe75;
    opacity: 0.7;
    color: #ffbe75;
    font-family: boogaloo;
    font-size: 150%;
    margin: 0px 10% 0% 10%;
    padding: 3% 2% 3% 2%;
}
