.welcome_text {
    text-align: justify;
    font-family: 'Yellowtail', cursive;
    color: #EA8D47;
    font-size: 125%
}
.text_center {
    text-align: center;
    margin-top: 15%;
}
.menu_button {
    width: 40%;
    /* min-width: 120px; */
    /* height: 45px; */
    border-radius: 20px;
}
.instructions_div {
    width: 100%;
    margin-top: 3%;
    text-align: center;
}
.page_div {
    margin: 2% 2.5%;
    width: 40%;
    display: inline-grid;
}
.instruction {
    text-align: center;
}
.instructions_text {
    font-family: boogaloo;
    font-size: 125%;
    margin-bottom: 20%;
    
}