@import "__drafter";
@import "__stats";
@import "__other";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* "Alternate" theme */
.main_alternate {
  background: color(orange);
  border-color: color(white);
  border-style: solid;
  border-width: $border-regular * 2;
  width: 90%;
  margin: auto;
  padding: 2% 0;
  @include md {
    width: 90%;
  }
  @include lg {
    width: 80%;
  }
  @include xl {
    width: 70%;
  }
}

/* "Main" Theme */
.main_main {
  background: color(white);
  border-color: color(black);
  border-style: solid;
  border-width: $border-regular * 2;
  width: 95%;
  min-width: 300px;
  margin: auto;
  padding: 2% 0;
  margin-bottom: 3%;

  @include md {
    width: 90%;
  }

  @include lg {
    width: 80%;
  }

  @include xl {
    width: 70%;
  }
}

/* default */
.default_color {
  @include theme(color(default-gradient), color(white), color(orange));
}
/* contrast */
.contrast_color {
  @include theme(color(contrast-gradient), color(white), color(blueish));
  &:focus,
  &:active {
    box-shadow: unset;
    outline: 5px auto color(blue);
  }
}
/* darker */
.darker_color {
  @include theme(color(dark-gradient), color(white), color(orange));
}
/* lighter */
.lighter_color {
  border-right-color: color(light-orange);
  @include theme(color(light-gradient), color(white), color(orange));
}
/* negative */
.negative_color {
  border-style: solid;
  border-color: color(negative-border);
  border-width: $border-regular * 2;
  @include theme(color(white), color(orange), color(white));
}

.plain_color {
  @include theme(color(plain_orange-gradient), color(white), color(orange));
}
/* greys */
.dark_grey {
  background-color: color(dark-grey);
  border-color: color(black);
}
.regular_grey {
  background-color: color(grey);
  color: color(white);
  border-color: color(dark-grey);
  filter: blur($light-blur);
  font-weight: lighter;
}
.light_grey {
  background-color: color(light-grey);
  border-color: color(black);
  color: color(black);
  filter: blur($light-blur);
  border-color: color(grey);
  font-weight: lighter;
}

.Defense {
  color: color(defense);
}

.Forward {
  color: color(forward);
}

.Goalie {
  color: color(goalie);
}

.h1_main {
  color: color(brown);
  text-shadow: $orange-font-shadow;
  text-align: center;
  position: relative;
  font-family: font(primary);
}

.h2_main {
  font-family: font(secondary);
  margin-bottom: 10%;
  text-align: center;
  color: color(brown);
}

.h3_main {
  font-family: font(secondary);
  color: color(brown);
  text-shadow: $orange-font-shadow;
  font-family: font(primary);
  text-align: left;
  font-size: 300%;
  margin: 3% 0% 1%;
}

.h1_alternate {
  color: color(white);
  text-shadow: $dark-font-shadow;
  text-align: center;
  position: relative;
  font-family: font(primary);
}

.h2_alternate {
  color: white;
  font-family: font(secondary);
  text-align: center;
}

.h3_alternate {
  color: white;
  text-shadow: $dark-font-shadow;
  font-family: font(primary);
  text-align: left;
  padding-left: 3%;
  font-size: 250%;
  margin-bottom: 3%;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin: 2% auto 7%;
  display: block;
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

button {
  font-family: font(button);
  font-size: 12px;
  min-height: 35px;
  width: 55%;
  min-width: $button-min-width-xs;
  max-width: $button-max-width-xs;
  text-align: center;
  // padding: 2%;
  border-style: unset;
  border-radius: $small-radius;
  box-shadow: $black-box-shadow;
  @include sm {
    font-size: 14px;
  }
  @include md {
    font-size: 16px;
    min-height: 40px;
    max-width: $button-max-width-md;
  }
  @include xl {
    font-size: 18px;
  }
  &:focus,
  &:active {
    box-shadow: $orange-box;
    outline: 5px auto color(orange);
  }
}

.hidden {
  visibility: hidden;
  height: 0px;
  margin: 0px;
  padding: 0px;
}
.dead {
  display: none;
}

.visible {
  visibility: visible;
}
