body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* default */
.default_color {
  background: linear-gradient(70deg, #de733a, #ea8d47);
  color: #ffffff;
}

.default_color:active, .default_color:focus {
  background: #ffffff;
  color: #de733a;
  border-style: solid;
  border-color: #de733a;
  border-width: 0.5px;
}

/* contrast */
.contrast_color {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: #ffffff;
}

.contrast_color:active, .contrast_color:focus {
  background: #ffffff;
  color: #007bff;
  border-style: solid;
  border-color: #007bff;
  border-width: 0.5px;
}

.contrast_color:focus, .contrast_color:active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 5px auto teal;
}

/* darker */
.darker_color {
  background: linear-gradient(70deg, #ff5d00, #de733a);
  color: #ffffff;
}

.darker_color:active, .darker_color:focus {
  background: #ffffff;
  color: #de733a;
  border-style: solid;
  border-color: #de733a;
  border-width: 0.5px;
}

/* lighter */
.lighter_color {
  border-right-color: #ffbe75;
  background: linear-gradient(70deg, #ea8d47, #ffbe75);
  color: #ffffff;
}

.lighter_color:active, .lighter_color:focus {
  background: #ffffff;
  color: #de733a;
  border-style: solid;
  border-color: #de733a;
  border-width: 0.5px;
}

/* negative */
.negative_color {
  border-style: solid;
  border-color: #976f50;
  border-width: 1px;
  background: #ffffff;
  color: #de733a;
}

.negative_color:active, .negative_color:focus {
  background: #de733a;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
}

.plain_color {
  background: -webkit-gradient(linear, left bottom, left top, from(#ea8d47), to(#de733a));
  background: linear-gradient(0deg, #ea8d47, #de733a);
  color: #ffffff;
}

.plain_color:active, .plain_color:focus {
  background: #ffffff;
  color: #de733a;
  border-style: solid;
  border-color: #de733a;
  border-width: 0.5px;
}

/* greys */
.dark_grey {
  background-color: #565656;
  border-color: #000000;
}

.regular_grey {
  background-color: #acadb2;
  color: #ffffff;
  border-color: #565656;
  -webkit-filter: blur(0.1px);
          filter: blur(0.1px);
  font-weight: lighter;
}

.light_grey {
  background-color: #e1e1e3;
  border-color: #000000;
  color: #000000;
  -webkit-filter: blur(0.1px);
          filter: blur(0.1px);
  border-color: #acadb2;
  font-weight: lighter;
}

.Defense {
  color: #b2ebf2;
}

.Forward {
  color: #dcedc8;
}

.Goalie {
  color: #ffecb3;
}

/* "Main" Theme */
.main_main {
  background: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 95%;
  min-width: 300px;
  margin: auto;
  padding: 2% 0;
  margin-bottom: 3%;
}

@media (min-width: 768px) {
  .main_main {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .main_main {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .main_main {
    width: 70%;
  }
}

/* "Alternate" theme */
.main_alternate {
  background: #de733a;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  width: 90%;
  margin: auto;
  padding: 2% 0;
}

@media (min-width: 768px) {
  .main_alternate {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .main_alternate {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .main_alternate {
    width: 70%;
  }
}

.h1_main {
  color: #260e04;
  text-shadow: -1px -1px 0 #de733a, 1px -1px 0 #de733a, -1px 1px 0 #de733a, 1px 1px 0 #de733a;
  text-align: center;
  position: relative;
  font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
}

.h2_main {
  font-family: boogaloo, Impact, Charcoal, sans-serif;
  margin-bottom: 10%;
  text-align: center;
  color: #260e04;
}

.h3_main {
  font-family: boogaloo, Impact, Charcoal, sans-serif;
  color: #260e04;
  text-shadow: -1px -1px 0 #de733a, 1px -1px 0 #de733a, -1px 1px 0 #de733a, 1px 1px 0 #de733a;
  font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
  text-align: left;
  font-size: 300%;
  margin: 3% 0% 1%;
}

.h1_alternate {
  color: #ffffff;
  text-shadow: -1px -1px 0 #260e04, 1px -1px 0 #260e04, -1px 1px 0 #260e04, 1px 1px 0 #260e04;
  text-align: center;
  position: relative;
  font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
}

.h2_alternate {
  color: white;
  font-family: boogaloo, Impact, Charcoal, sans-serif;
  text-align: center;
}

.h3_alternate {
  color: white;
  text-shadow: -1px -1px 0 #260e04, 1px -1px 0 #260e04, -1px 1px 0 #260e04, 1px 1px 0 #260e04;
  font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
  text-align: left;
  padding-left: 3%;
  font-size: 250%;
  margin-bottom: 3%;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin: 2% auto 7%;
  display: block;
  font-size: 40px;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 25px;
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 27px;
  }
}

@media screen and (min-width: 640px) {
  h2 {
    font-size: 31px;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 35px;
  }
}

button {
  font-family: Roboto, Helvetica Neue;
  font-size: 12px;
  min-height: 35px;
  width: 55%;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  border-style: unset;
  border-radius: 5px;
  -webkit-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 480px) {
  button {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  button {
    font-size: 16px;
    min-height: 40px;
    max-width: 220px;
  }
}

@media (min-width: 1024px) {
  button {
    font-size: 18px;
  }
}

button:focus, button:active {
  -webkit-box-shadow: 0 0 15px rgba(222, 115, 58, 0.9);
          box-shadow: 0 0 15px rgba(222, 115, 58, 0.9);
  outline: 5px auto #de733a;
}

.hidden {
  visibility: hidden;
  height: 0px;
  margin: 0px;
  padding: 0px;
}

.dead {
  display: none;
}

.visible {
  visibility: visible;
}

.lock_icons_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.lock_icons_container div:nth-of-type(1) {
  -ms-grid-column-align: right;
      justify-self: right;
}

.lock_icons_container div:nth-of-type(2) {
  -ms-grid-column-align: left;
      justify-self: left;
}

.lock {
  width: 35%;
  min-width: 55px;
  max-width: 100px;
  min-height: 40px;
  margin: 60px 10px 0px 10px;
}

.locked {
  -ms-grid-column-align: right;
      justify-self: right;
  background: linear-gradient(70deg, #ea8d47, #ffbe75);
  color: #ffffff;
}

.unlocked {
  border-style: solid;
  border-color: #ffbe75;
  border-width: 0.5px;
  background: #ffffff;
  color: #ffbe75;
}

#in-line {
  margin: 0 auto 10%;
  padding: 0 12%;
}

input {
  color: #de733a;
  text-align: center;
  font-weight: lighter;
  width: 150%;
  max-width: 200px;
  padding: 3%;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background-color: beige;
  -webkit-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 670px) {
  input {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  input {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  input {
    font-size: 16px;
  }
}

#date_submit {
  margin-top: 2%;
  padding: 2%;
}

.calendar_component {
  margin-left: -2%;
  padding-top: 3%;
}

.organizer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .organizer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.game_options_bottom {
  margin-top: 3%;
}

.universal_drafter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: "undrafted undrafted undrafted undrafted undrafted undrafted undrafted undrafted undrafted" "drafted_dark drafted_dark drafted_dark drafted_dark   ...... drafted_white drafted_white drafted_white drafted_white";
}

.universal_drafter h1 {
  margin: 2%;
}

.universal_drafter br {
  display: none;
}

.universal_drafter .game_date,
.universal_drafter .col_header {
  color: #ffffff;
  text-shadow: -1px -1px 0 #260e04, 1px -1px 0 #260e04, -1px 1px 0 #260e04, 1px 1px 0 #260e04;
  text-align: center;
  position: relative;
  font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
}

.universal_drafter .arrows,
.universal_drafter .remove {
  font-size: 100%;
}

@media (min-width: 480px) {
  .universal_drafter .arrows {
    font-size: 150%;
  }
}

@media (min-width: 670px) {
  .universal_drafter {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
        grid-template-areas: "drafted_dark undrafted drafted_white";
  }
  .universal_drafter .small_screen_team_names_header {
    display: none;
  }
  .universal_drafter br {
    display: unset;
  }
  .universal_drafter h1 {
    margin: 2% auto 7%;
  }
  .universal_drafter .col_header {
    color: #260e04;
    text-shadow: -1px -1px 0 #de733a, 1px -1px 0 #de733a, -1px 1px 0 #de733a, 1px 1px 0 #de733a;
    text-align: center;
    position: relative;
    font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
  }
}

.undrafted_players {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: undrafted;
}

.dark_drafted_players {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: drafted_dark;
}

.dark_drafted_players button {
  background: #565656;
  color: #ffffff;
}

.dark_drafted_players button:active, .dark_drafted_players button:focus {
  background: #ffffff;
  color: #565656;
  border-style: solid;
  border-color: #565656;
  border-width: 0.5px;
}

@media (min-width: 670px) {
  .dark_drafted_players button {
    background: linear-gradient(70deg, #de733a, #ea8d47);
    color: #ffffff;
  }
  .dark_drafted_players button:active, .dark_drafted_players button:focus {
    background: #ffffff;
    color: #de733a;
    border-style: solid;
    border-color: #de733a;
    border-width: 0.5px;
  }
}

.dark_drafted_players .fa-arrow-alt-circle-right {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation: upanddown 1.2s ease-in-out 4 alternate;
          animation: upanddown 1.2s ease-in-out 4 alternate;
}

@media (min-width: 670px) {
  .dark_drafted_players .fa-arrow-alt-circle-right {
    -webkit-animation: unset;
            animation: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

.white_drafted_players {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: drafted_white;
}

.white_drafted_players button {
  background: #e1e1e3;
  color: #000000;
  border-style: solid;
  border-color: #565656;
}

.white_drafted_players button:active, .white_drafted_players button:focus {
  background: #000000;
  color: #e1e1e3;
  border-style: solid;
  border-color: #e1e1e3;
  border-width: 0.5px;
}

@media (min-width: 670px) {
  .white_drafted_players button {
    background: linear-gradient(70deg, #ea8d47, #de733a);
    color: #ffffff;
    border-style: unset;
  }
  .white_drafted_players button:active, .white_drafted_players button:focus {
    background: #ffffff;
    color: #de733a;
    border-style: solid;
    border-color: #de733a;
    border-width: 0.5px;
  }
}

.white_drafted_players .fa-arrow-circle-left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: upanddown 1.2s ease-in-out 4 alternate;
          animation: upanddown 1.2s ease-in-out 4 alternate;
}

@media (min-width: 670px) {
  .white_drafted_players .fa-arrow-circle-left {
    -webkit-animation: unset;
            animation: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

@-webkit-keyframes upanddown {
  from {
    top: -15px;
  }
  to {
    top: 5px;
  }
}

@keyframes upanddown {
  from {
    top: -15px;
  }
  to {
    top: 5px;
  }
}

.player_div {
  text-align: center;
  -webkit-animation: slideBothArrows 0.7s 0ms ease-in-out 4 alternate;
          animation: slideBothArrows 0.7s 0ms ease-in-out 4 alternate;
}

.fa-arrow-circle-left {
  -webkit-animation: slideright 0.7s 0ms ease-in-out 4 alternate;
          animation: slideright 0.7s 0ms ease-in-out 4 alternate;
}

.fa-arrow-circle-left:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.fa-arrow-alt-circle-right {
  -webkit-animation: slideleft 0.7s 0ms ease-in-out 4 alternate;
          animation: slideleft 0.7s 0ms ease-in-out 4 alternate;
}

.fa-arrow-alt-circle-right:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes slideright {
  from {
    left: 0%;
  }
  to {
    left: -11%;
  }
}

@keyframes slideright {
  from {
    left: 0%;
  }
  to {
    left: -11%;
  }
}

@-webkit-keyframes slideleft {
  from {
    left: 0%;
  }
  to {
    left: 11%;
  }
}

@keyframes slideleft {
  from {
    left: 0%;
  }
  to {
    left: 11%;
  }
}

.player_button {
  min-width: 100px;
  max-width: 200px;
  margin: 10px -8px 10px 8px;
}

.arrows {
  font-size: 200%;
  position: relative;
  top: 0.2em;
  color: #260e04;
}

.arrows:hover {
  color: #007bff;
}

.remove_player {
  position: relative;
  top: -17px;
  left: -3px;
  font-size: 130%;
  color: #260e04;
}

.remove_player:hover {
  color: red;
}

.unavailable {
  margin-left: -15px;
  background: #acadb2;
  color: #ffffff;
}

.unavailable:active, .unavailable:focus {
  background: #ffffff;
  color: #565656;
  border-style: solid;
  border-color: #565656;
  border-width: 0.5px;
}

.negative_color {
  margin-left: -15px;
}

.sorter {
  display: inline-block;
}

.set_picks_col {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: unpicked;
}

.ranks_col {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: picked;
}

.universal_picker {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "picked picked" "unpicked unpicked";
}

.universal_picker .pick_arrow {
  display: none;
}

@media (min-width: 480px) {
  .universal_picker {
        grid-template-areas: "unpicked picked";
  }
  .universal_picker .pick_arrow {
    display: unset;
  }
}

.player_picking_div {
  margin: 2%;
}

.list_of_picked_players > .player_picking_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.list_of_picked_players > .player_picking_div .player_button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  justify-self: flex-end;
}

@media (min-width: 480px) {
  .list_of_picked_players > .player_picking_div .player_button {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.list_of_picked_players > .player_picking_div .remove {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 480px) {
  .list_of_picked_players > .player_picking_div .remove {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

@media (min-width: 480px) {
  .list_of_picked_players > .player_picking_div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 670px) {
  .list_of_picked_players > .player_picking_div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pick_number {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #260e04;
  background: #ffffff;
  width: 20px;
  height: 20px;
  padding: 3px 2px 0px;
  border-radius: 50%;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  opacity: 0.3;
}

.pick_number:hover, .pick_number:active {
  background: #260e04;
  color: #ffffff;
}

@media (min-width: 480px) {
  .pick_number {
    display: none;
  }
}

.up_arrow {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  color: #007bff;
  font-size: 200%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.up_arrow:hover {
  color: #ffbe75;
  -webkit-animation: arrowup 1s 200ms ease-in-out 4 alternate;
          animation: arrowup 1s 200ms ease-in-out 4 alternate;
}

@media (min-width: 480px) {
  .up_arrow {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    position: relative;
    left: 5px;
    top: 0px;
  }
}

.down_arrow {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #260e04;
  font-size: 200%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.down_arrow:hover {
  color: #ffbe75;
  -webkit-animation: arrowdown 1s 200ms ease-in-out 4 alternate;
          animation: arrowdown 1s 200ms ease-in-out 4 alternate;
}

@media (min-width: 480px) {
  .down_arrow {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    position: relative;
    left: -23px;
    top: 0px;
  }
}

@-webkit-keyframes arrowup {
  from {
    top: 0px;
  }
  to {
    top: -15px;
  }
}

@keyframes arrowup {
  from {
    top: 0px;
  }
  to {
    top: -15px;
  }
}

@-webkit-keyframes arrowdown {
  from {
    top: 0px;
  }
  to {
    top: 15px;
  }
}

@keyframes arrowdown {
  from {
    top: 0px;
  }
  to {
    top: 15px;
  }
}

@media (min-width: 768px) {
  .pick_col_header {
    height: 100px;
  }
}

.player_picking {
  width: 55%;
  max-width: 250px;
  margin: 10px 0% 10px 8px;
  min-width: 150px;
  height: 2.75em;
}

.player_picking:hover {
  -webkit-animation: slidearrow 0.9s 200ms ease-in-out 4 alternate;
          animation: slidearrow 0.9s 200ms ease-in-out 4 alternate;
}

@-webkit-keyframes slidearrow {
  from {
    margin: 10px 0% 10px 8px;
  }
  to {
    margin: 10px 11% 10px 12%;
  }
}

@keyframes slidearrow {
  from {
    margin: 10px 0% 10px 8px;
  }
  to {
    margin: 10px 11% 10px 12%;
  }
}

.pick_arrow {
  position: relative;
  right: -4%;
}

.remove_pick {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.remove_pick:hover {
  color: red;
}

.pick_name_button {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 768px) {
  .list_of_unpicked_players {
    margin-left: 15%;
  }
}

.player_picking_div:first-child .up_arrow {
  color: #ffffff;
  -webkit-animation: unset;
          animation: unset;
}

.player_picking_div:last-child .down_arrow {
  color: #ffffff;
  -webkit-animation: unset;
          animation: unset;
}

.player_to_pick_div {
  width: 80%;
  margin: auto;
}

.pick_arrow_plus {
  margin-left: 3%;
  font-size: 160%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media (min-width: 480px) {
  .pick_arrow_plus {
    display: none;
  }
}

.change_list_display {
  margin: 7% auto 3% auto;
  padding: 1% 2%;
  border-style: unset;
  border-radius: 5px;
  min-height: 30px;
  min-width: 150px;
}

.game_options {
  min-width: 150px;
  width: 55%;
}

.game_options_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.game_options_container button {
  min-width: 90px;
  max-width: 120px;
}

@media (min-width: 768px) {
  .game_options_container button {
    width: 75%;
    max-width: 220px;
  }
}

.button_container {
  display: -ms-grid;
  display: grid;
  margin: 10% auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

.button_container :first-child {
  -ms-grid-column-align: end;
      justify-self: end;
}

.button_container :last-child {
  -ms-grid-column-align: start;
      justify-self: start;
}

.button_container button {
  min-width: 100px;
  height: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 768px) {
  .button_container button {
    height: 60px;
  }
}

.container.button_container {
  margin: 1%;
}

.container.button_container :first-child {
  -ms-grid-column-align: center;
      justify-self: center;
}

.container.button_container :last-child {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game_toggle_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game_button {
  font-weight: bold;
  margin: 2% 0% 6%;
}

@media (min-width: 768px) {
  .game_button {
    font-weight: unset;
    margin: 5% 0% 10%;
  }
}

.show_games {
  min-width: 50px;
  text-align: center;
}

.remove_game {
  position: relative;
  font-size: 125%;
  top: -12px;
  left: -12px;
}

@media (min-width: 768px) {
  .remove_game {
    top: -20px;
  }
}

.remove_game:hover {
  color: red;
}

.list-management {
  overflow: scroll;
  max-height: 200px;
  padding: 3% 0%;
  margin: auto;
  width: 70%;
}

.no_game {
  border-style: solid;
  text-align: center;
  border-width: 1px;
  border-color: #ffbe75;
  opacity: 0.7;
  color: #ffbe75;
  font-family: boogaloo, Impact, Charcoal, sans-serif;
  font-size: 130%;
  margin: 0px 10% 0% 10%;
  padding: 3% 2% 3% 2%;
}

@media (min-width: 768px) {
  .no_game {
    margin: 0%;
  }
}

/* for the date picker */
.react-datepicker button {
  min-height: unset;
  min-width: unset;
}

.react-datepicker__navigation--next {
  right: 0px;
  border-left-color: #ccc;
  top: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.react-datepicker__navigation--previous {
  left: 0px;
  border-right-color: #ccc;
  top: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.react-datepicker__input-container input {
  width: 100%;
  min-width: 200px;
  min-height: 25px;
}

@media (min-width: 480px) {
  .react-datepicker__input-container input {
    width: 130%;
    max-width: 260px;
  }
}

@media (min-width: 768px) {
  .react-datepicker__input-container input {
    width: 150%;
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .react-datepicker__input-container input {
    width: 175%;
    max-width: 350px;
  }
}

.buffer {
  width: 33%;
}

.pick_option {
  width: 13%;
  margin: auto;
}

.draft_option {
  width: 17%;
  margin: auto;
}

.reduced_container {
  width: 90%;
  margin: auto;
  padding: 0px;
  text-align: center;
}

.small_screen_team_names_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.small_screen_team_names_header .arrows {
  font-size: 80%;
  position: unset;
  padding: 0 2%;
  color: #260e04;
}

.sstnhd h1 {
  text-align: left;
}

.sstnhw h1 {
  text-align: right;
}

.small_teams {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sm_dark {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sm_white {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.small_screen_arrows {
  font-size: 150%;
  position: relative;
  -webkit-animation: upanddown 1.2s ease-in-out 4 alternate;
          animation: upanddown 1.2s ease-in-out 4 alternate;
}

/*
.ranks_col {
    margin-bottom: 7%;
}
*/
.table_container {
  padding: 0 15px;
}

@media (min-width: 992px) {
  .tables_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.stats_name,
.player_table_name {
  font-variant: small-caps;
  font-size: 115%;
  padding-left: 10%;
}

@media (min-width: 768px) {
  .stats_name,
  .player_table_name {
    font-size: 145%;
  }
}

@media (min-width: 992px) {
  .stats_name,
  .player_table_name {
    font-size: 115%;
  }
}

.darker_icon,
.lighter_icon {
  font-size: 155%;
}

@media (min-width: 480px) {
  .darker_icon,
  .lighter_icon {
    font-size: 185%;
  }
}

@media (min-width: 768px) {
  .darker_icon,
  .lighter_icon {
    font-size: 200%;
  }
}

@media (min-width: 992px) {
  .darker_icon,
  .lighter_icon {
    font-size: 185%;
  }
}

.score_header_tr {
  text-align: center;
}

.darker_icon {
  color: #de733a;
}

.lighter_icon {
  color: #ffbe75;
}

.data {
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  height: 50px;
  margin: 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

thead > tr,
.stats_row {
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 300px) minmax(100px, 170px) minmax(100px, 170px);
      grid-template-columns: minmax(100px, 300px) minmax(100px, 170px) minmax(100px, 170px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nice,
.good {
  border-width: 2px;
  font-weight: bold;
  background: #ffffff;
  border-color: #de733a;
}

td [class*="circle"] {
  -ms-grid-column-align: center;
      justify-self: center;
}

.full {
  width: 100%;
}

.no_stats_message {
  margin: auto;
}

.list_of_games {
  padding: 0 5% 0 5%;
  margin-top: -5%;
}

.past_game_button {
  width: 15%;
  min-width: 130px;
  margin: 5% 0% 3% 5%;
  font-size: 14px;
  height: 35px;
}

.past_game_button:last-child {
  margin-bottom: 15%;
}

.month_game_played {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.month_game_played button {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 480px) {
  .month_game_played {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 670px) {
  .month_game_played {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .month_game_played {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.games_per_year {
  border-style: solid;
  border-width: 1px;
  border-color: #acadb2;
  padding-top: 2%;
}

.hide_year_button {
  text-align: right;
  position: relative;
  top: -50px;
  color: #de733a;
}

.header {
  margin-bottom: 5%;
  padding-left: 2%;
}

.header_icon {
  margin-right: 3%;
}

.header_h3 {
  font-family: boogaloo;
  font-size: 170%;
}

.chart {
  width: 75%;
  margin: auto;
}

.chart_button {
  margin: 2%;
  height: 40px;
  min-width: 150px;
  border-radius: 20px;
}

.selected_chart_goals {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(255, 99, 132, 0.6);
  color: white;
}

.unselected_chart_goals {
  color: rgba(255, 99, 132, 0.6);
  border-style: solid;
  border-color: rgba(255, 99, 132, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_assists {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(54, 162, 235, 0.6);
  color: white;
}

.unselected_chart_assists {
  color: rgba(54, 162, 235, 0.6);
  border-style: solid;
  border-color: rgba(54, 162, 235, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_games {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(255, 206, 86, 0.6);
  color: white;
}

.unselected_chart_games {
  color: rgba(255, 206, 86, 0.6);
  border-style: solid;
  border-color: rgba(255, 206, 86, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_wins {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(75, 192, 192, 0.6);
  color: white;
}

.unselected_chart_wins {
  color: rgba(75, 192, 192, 0.6);
  border-style: solid;
  border-color: rgba(75, 192, 192, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_gpg {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(153, 102, 255, 0.6);
  color: white;
}

.unselected_chart_gpg {
  color: rgba(153, 102, 255, 0.6);
  border-style: solid;
  border-color: rgba(153, 102, 255, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_apg {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(255, 159, 64, 0.6);
  color: white;
}

.unselected_chart_apg {
  color: rgba(255, 159, 64, 0.6);
  border-style: solid;
  border-color: rgba(255, 159, 64, 0.6);
  border-width: 2px;
  background-color: white;
}

.chart {
  position: relative;
}

.chart > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  width: 100%;
  min-height: 300px;
  overflow-y: scroll;
}

.records {
  width: 90%;
  margin: auto;
}

.records {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.records button {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 480px) {
  .records {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 670px) {
  .records {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .records {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.wrapping_card_div {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
}

@media (min-width: 480px) {
  .wrapping_card_div {
    width: 95%;
  }
}

.player_card {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 2%;
  margin: 2%;
}

.player_card:last-child {
  margin-bottom: 20%;
}

@media (min-width: 480px) {
  .player_card {
    height: 200px;
    overflow-y: scroll;
  }
}

.player_name {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 70%;
  padding-bottom: 4%;
  margin-bottom: 10%;
  text-align: center;
  margin: 0 auto 2%;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 125%;
}

.player_data {
  padding-top: 8%;
}

.member_record {
  color: teal;
  border-color: teal;
}

.non_member_record {
  color: #de733a;
  border-color: #de733a;
}

.entry {
  font-variant: small-caps;
}

.addendum {
  padding-left: 5%;
  font-size: 85%;
}

.value {
  font-weight: bold;
}

.unselected_tab {
  color: teal;
  border-color: teal;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}

.list_of_options {
  margin-bottom: 7%;
  padding: 0 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list_of_options button {
  margin: 1% auto;
  min-width: 130px;
}

@media (min-width: 480px) {
  .list_of_options button {
    min-width: 151px;
  }
}

.list_of_options.hidden {
  margin-bottom: 0px;
}

.tab_button {
  border-radius: 20px;
  padding: 10px 1% 10px 2%;
  max-height: 50px;
}

.selected_tab {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: #ffffff;
}

.sort_action_icon {
  margin-left: 15px;
}

.sorting_arrow {
  font-size: 130%;
}

.active {
  color: #de733a;
}

.inactive {
  color: teal;
}

.position_dot {
  font-size: 50%;
  position: relative;
  bottom: 20%;
  left: 5%;
}

.button_options_second_set {
  margin: 7% auto;
  text-align: center;
}

.hidden_card {
  display: none;
}

.hide_button {
  text-align: center;
}

.list_of_players {
  width: 100%;
  padding: 0 5% 0 5%;
  margin-top: -5%;
  text-align: center;
}

.record_player_button {
  margin: 3%;
  min-width: 150px;
  border-radius: 20px;
}

.selected_member {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: #ffffff;
}

.selected_non_member {
  background: -webkit-gradient(linear, left bottom, left top, from(#ea8d47), to(#de733a));
  background: linear-gradient(0deg, #ea8d47, #de733a);
  color: #ffffff;
}

.unselected_member {
  color: teal;
  border-color: teal;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}

.unselected_non_member {
  color: #de733a;
  border-color: #de733a;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}

.player_action_icon {
  margin-left: 10px;
}

.button_options_first_set {
  text-align: center;
  margin: 0% auto 7%;
  padding-left: 15px;
}

.record_game_button {
  margin: 3%;
  min-width: 150px;
  border-radius: 20px;
}

.selected_game {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: #ffffff;
}

.unselected_game {
  color: teal;
  border-color: teal;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}

.game_action_icon {
  margin-left: 10px;
}

.record_list_of_games {
  text-align: center;
  padding: 0 3% 4%;
}

.button_options_third_set {
  text-align: center;
  margin: 0% auto 1%;
  padding-left: 15px;
}

.check_list {
  list-style-type: none;
  font-size: larger;
}

.filter_panel {
  width: 40%;
  border-radius: 20px;
  padding: 1%;
  color: teal;
  display: -ms-inline-grid;
  display: inline-grid;
}

.filter_name {
  text-align: center;
  font-family: boogaloo, cursive;
  margin-bottom: 5%;
}

.filter_item {
  margin: 5% 0;
  min-height: 35px;
  padding: 3%;
  border-radius: 10px;
}

/* custom select menu */
/* See: https://www.w3schools.com/howto/howto_custom_select.asp */
.custom-select {
  position: relative;
  font-family: Arial;
  width: unset;
  font-size: smaller;
  margin: 0 2px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.date_pickers {
  display: inline;
}

#range_submit {
  margin: 5% 0% 0% 91%;
}

.records_calendar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1% 0% 5% 0%;
}

.calendar_alignment {
  margin: 0 0 0 10%;
  width: 25%;
}

.react-datepicker__close-icon {
  position: absolute;
  top: 50%;
  left: 150%;
}

.tab_centering {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.two_tab_centering {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}

.two_tab_centering span {
  width: 100%;
  height: 35px;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 480px) {
  .two_tab_centering span {
    height: 40px;
  }
}

@media (min-width: 670px) {
  .two_tab_centering span {
    height: 45px;
  }
}

@media (min-width: 480px) {
  .two_tab_centering {
    width: 80%;
    max-width: 700px;
  }
}

.tab {
  height: 40px;
  padding: 1%;
  text-align: center;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.player_table_head {
  width: 90%;
  margin: auto;
}

@media (min-width: 480px) {
  .player_table_head {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .player_table_head {
    max-width: 700px;
  }
}

.show_tab {
  background: #ffffff;
  color: #000000;
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #000000 #000000 #ffffff #000000;
}

.hide_tab {
  background: #ffbe75;
  color: #565656;
  border-color: #de733a #de733a #000000 #de733a;
  border-style: none solid solid solid;
  border-width: 1px;
}

.passive_tab {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  color: #de733a;
}

.main_for_tab {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: none solid solid solid;
  border-color: #000000;
  border-width: 1px;
  margin: 0px auto;
  width: 90%;
}

@media (min-width: 480px) {
  .main_for_tab {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .main_for_tab {
    max-width: 700px;
  }
}

.full_size {
  width: 100%;
}

#range_submit {
  margin: 5% 0% 0% 91%;
}

label,
select {
  font-size: 14px;
}

@media (min-width: 480px) {
  label,
  select {
    font-size: 16px;
  }
}

@media (min-width: 670px) {
  label,
  select {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  label,
  select {
    font-size: 18px;
  }
}

label {
  color: #98461a;
  text-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 0.5rem;
  margin: 3% 16% 3% 1%;
}

.form_container {
  width: 100%;
  margin: auto;
  padding: 1%;
}

.form_container input {
  display: block;
  margin: auto;
  width: 100%;
}

.field {
  margin: 2% 0% 5%;
}

/* table formatting */
table {
  border-collapse: collapse;
  display: table;
}

table tr:nth-child(even) {
  background-color: #e1e1e3;
}

.player_table {
  width: 100%;
}

.player_table_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player_table_row {
  padding: 5% 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.player_table_row:first-child {
  padding-top: 7%;
}

@media (min-width: 768px) {
  .player_table_row {
    padding: 3% 0%;
  }
}

@media (min-width: 992px) {
  .player_table_row {
    padding: 2% 0%;
  }
  .player_table_row:first-child {
    padding: 5% 0 2%;
  }
}

.player_table_row .player_manage_buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 480px) {
  .player_table_row .player_manage_buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.player_table_row .player_manage_buttons button {
  margin: 0 2%;
}

.hidden.full_tab_size {
  display: none;
}

nav {
  background: #acadb2;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
}

nav img {
  position: relative;
  float: right;
  margin-right: 5%;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  nav img {
    margin-right: 10%;
  }
}

nav.showMenu {
  height: 385px;
  -webkit-box-shadow: 0px 5px 10px grey;
          box-shadow: 0px 5px 10px grey;
}

@media (min-width: 670px) {
  nav.showMenu {
    height: 400px;
  }
}

@media (min-width: 992px) {
  nav.showMenu {
    height: 425px;
  }
}

.stickyNav {
  -webkit-box-shadow: 0px 5px 10px grey;
          box-shadow: 0px 5px 10px grey;
  height: 80px;
  -webkit-transition: all 20ms ease-in-out;
  transition: all 20ms ease-in-out;
}

.stickyNav img {
  height: 70px;
}

.showMenu > .navbar > img {
  height: 70px;
}

.showMenu.stickyNav .showMenu.darkNavBar,
.showMenu.nonStickyNav .showMenu.darkNavBar {
  background: #343a40;
  padding: 1% 2%;
}

.showMenu.stickyNav .showMenu.darkNavBar a,
.showMenu.nonStickyNav .showMenu.darkNavBar a {
  text-decoration: none;
  background-color: transparent;
}

.showMenu.stickyNav .showMenu.darkNavBar .nav-item .nav-link,
.showMenu.nonStickyNav .showMenu.darkNavBar .nav-item .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.showMenu.stickyNav .showMenu.darkNavBar .nav-item,
.showMenu.nonStickyNav .showMenu.darkNavBar .nav-item {
  display: block;
  padding: 0.5rem 1rem;
}

.showMenu.stickyNav .showMenu.darkNavBar .nav-link,
.showMenu.nonStickyNav .showMenu.darkNavBar .nav-link {
  font-family: boogaloo, Impact, Charcoal, sans-serif;
  font-size: 125%;
  color: #ffbe75;
}

.showMenu.stickyNav .showMenu.darkNavBar .nav-link:hover,
.showMenu.nonStickyNav .showMenu.darkNavBar .nav-link:hover {
  color: #17a2b8;
}

.showMenu.stickyNav .showMenu.darkNavBar .nav-link:last-of-type,
.showMenu.nonStickyNav .showMenu.darkNavBar .nav-link:last-of-type {
  margin-bottom: 10px;
}

.showMenu.stickyNav .showMenu.darkNavBar .nav_title,
.showMenu.nonStickyNav .showMenu.darkNavBar .nav_title {
  font-family: Yellowtail, Brush Script MT, Brush Script Std, cursive;
  font-size: 200%;
  color: #ffffff;
  text-shadow: -0.5px -0.5px 0 #de733a, 0.5px -0.5px 0 #de733a, -0.5px 0.5px 0 #de733a, 0.5px 0.5px 0 #de733a;
  margin-top: unset;
  margin-bottom: 1%;
  font-weight: unset;
}

.showMenu.stickyNav .showMenu.darkNavBar .navbar-nav,
.showMenu.nonStickyNav .showMenu.darkNavBar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 0px) {
  nav {
    height: 80px;
  }
  nav img {
    height: 65px;
  }
  main:first-of-type {
    margin-top: 95px;
  }
}

@media (min-width: 480px) {
  nav {
    height: 120px;
  }
  nav img {
    height: 105px;
  }
  main:first-of-type {
    margin-top: 135px;
  }
}

@media (min-width: 670px) {
  nav {
    height: 140px;
  }
  nav img {
    height: 125px;
  }
  main:first-of-type {
    margin-top: 155px;
  }
}

@media (min-width: 768px) {
  nav {
    height: 150px;
  }
  nav img {
    height: 135px;
  }
  main:first-of-type {
    margin-top: 165px;
  }
}

@media (min-width: 992px) {
  nav {
    height: 155px;
  }
  nav img {
    height: 140px;
  }
  main:first-of-type {
    margin-top: 170px;
  }
}

@media (min-width: 1024px) {
  nav {
    height: 160px;
  }
  nav img {
    height: 145px;
  }
  main:first-of-type {
    margin-top: 175px;
  }
}

.welcome_text {
  text-align: justify;
  font-family: "Yellowtail", cursive;
  color: #ea8d47;
  font-size: 125%;
}

.text_center {
  text-align: center;
  margin-top: 15%;
}

.menu_button {
  width: 40%;
  /* min-width: 120px; */
  /* height: 45px; */
  border-radius: 20px;
}

.instructions_div {
  width: 100%;
  margin-top: 3%;
  text-align: center;
}

.page_div {
  margin: 2% 2.5%;
  width: 40%;
  display: -ms-inline-grid;
  display: inline-grid;
}

.instruction {
  text-align: center;
}

.instructions_text {
  font-family: boogaloo;
  font-size: 125%;
  margin-bottom: 20%;
}

.auth_tab {
  width: 50%;
  min-width: 100px;
  height: 10%;
  min-height: 30px;
  padding: 1%;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.show {
  background: white;
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-width: 1px;
}

.hide {
  background: #ffbe75;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #565656;
  border-left-color: #ea8d47;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #ea8d47;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #ea8d47;
}
/*# sourceMappingURL=App.css.map */