// Colors
$colors: (
    white: #FFFFFF,
    blue: teal,
    blueish: #007bff,
    black: #000000,


    defense: #b2ebf2,
    forward: #dcedc8,
    goalie: #ffecb3,

    default-gradient: linear-gradient(70deg, #DE733A,#EA8D47),
    contrast-gradient: linear-gradient(160deg, teal, #17a2b8),
    dark-gradient: linear-gradient(70deg, #FF5D00,#DE733A),
    light-gradient: linear-gradient(70deg, #EA8D47,#ffbe75),
    blue-gradient: linear-gradient(160deg, teal, #17a2b8),
    
    negative-border: rgb(151, 111, 80),

    leaning_right_orange_gradient: linear-gradient(70deg, #DE733A,#EA8D47),
    leaning_left_orange_gradient: linear-gradient(70deg, #EA8D47, #DE733A),
    plain_orange-gradient: linear-gradient(0deg, #EA8D47, #DE733A),

    orange: #DE733A,
    light-orange: #ffbe75,
    dark-orange: darken(#DE733A, 20%),
    
    brown: #260e04,
    light-brown: lighten(#260e04, 20%),
    dark-brown: darken(#260e04, 20%),

    grey: #acadb2,
    light-grey: lighten(#acadb2, 20%),
    dark-grey: rgb(86,86,86),

);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

// variables
$black-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
$dark-font-shadow: (-1px -1px 0 color(brown), 1px -1px 0 color(brown), -1px 1px 0 color(brown), 1px 1px 0 color(brown));
$orange-font-shadow: (-1px -1px 0 color(orange), 1px -1px 0 color(orange), -1px 1px 0 color(orange), 1px 1px 0 color(orange));
$orange-title-shadow: (-0.5px -0.5px 0 color(orange), 0.5px -0.5px 0 color(orange), -0.5px 0.5px 0 color(orange), 0.5px 0.5px 0 color(orange));
$orange-subtle: (-0.1px -0.1px 0 color(orange), 0.1px -0.1px 0 color(orange), -0.1px 0.1px 0 color(orange), 0.1px 0.1px 0 color(orange));
$orange-box: (0 0 15px rgba(222, 115, 58, 0.9));

$small-width: 100px;
$small-height: 30px;
$small-radius: 5px;
$border-regular: 0.5px;
$light-blur: 0.1px;
$button-min-width-xs: 120px;
$button-max-width-xs: 120px;
$button-max-width-sm: 180px;
$button-max-width-md: 220px;

// Screen Resizing
$screen-sm: 480px;
$screen-mm: 670px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1024px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}
// Mid-medium devices
@mixin mm {
    @media (min-width: #{$screen-mm}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

// larger devices
@mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
}


// THEMES
@mixin theme($bkCol, $col, $activeBkCol, $activeCol, $activeBorderStyle, $activeBorderCol, $activeBorderWidth ) {
    background: $bkCol;    
    color: $col;
    &:active, &:focus {
        background: $activeBkCol;
        color: $activeCol;
        border-style: $activeBorderStyle;
        border-color: $activeBorderCol;
        border-width: $activeBorderWidth;
        @content
    }
};

/* default */
.default_color {
    @include theme(
        color(default-gradient),    // background-color
        color(white),              // color
        color(white),              // :active background-color
        color(orange),            // :active color
        solid,                      // :active border style
        color(brown),             // :actve border column
        $border-regular,             // :active border width
        )
    }
/* contrast */
.contrast_color {
    @include theme(
        color(contrast-gradient),
        color(white),
        color(white),
        color(blueish),
        solid,
        color(brown),
        $border-regular,
    );
    &:focus, &:active {
        box-shadow: unset;
        outline: 5px auto color(blue)
    }
}
/* darker */
.darker_color {
    @include theme(
        color(dark-gradient),
        color(white),
        color(white),
        color(orange),
        solid,
        color(brown),
        $border-regular
    )
}
/* lighter */
.lighter_color {
    border-right-color: color(light-orange);
    @include theme(
        color(light-gradient),
        color(white),    
        color(white),
        color(orange),
        solid,
        color(brown),
        $border-regular,
    )  
};
/* negative */
.negative_color {
    border-style: solid;
    border-color: color(negative-border);
    border-width: $border-regular * 2;
    @include theme(
        color(white),
        color(orange),
        color(orange),
        color(white),
        solid,
        color(brown),
        $border-regular,
    )
}
.leaning_right_color {
    background: color(leaning_right_orange_gradient);
    color: color(white);
    &:focus, &:active {
        background: color(white);
        color: color(orange);
        border-style: solid;
        border-width: $border-regular * 2;
        border-color: color(orange);
    }
}
.leaning_left_color {
    background: color(leaning_left_orange_gradient);
    color: color(white);
    &:focus, &:active {
        background: color(white);
        color: color(orange);
        border-style: solid;
        border-width: $border-regular * 2;
        border-color: color(orange);
    }
}
.plain_color{
    @include theme(
        color(plain_orange-gradient),
        color(white),
        color(white),
        color(orange),
        solid,
        color(orange),
        $border-regular
    )
}
/* greys */
.dark_grey {
    background-color: color(dark-grey);
    border-color: color(black);
}
.regular_grey {
    background-color: color(grey);
    color: color(white);
    border-color: color(dark-grey);
    filter: blur($light-blur);
    font-weight: lighter;
}
.light_grey {
    background-color: color(light-grey);
    border-color: color(black);
    color: color(black);
    filter: blur($light-blur);
    border-color: color(grey);
    font-weight: lighter;
}

.Defense {
    color: color(defense);
}

.Forward {
    color: color(forward)
}

.Goalie {
    color: color(goalie)
}

/* "Main" Theme */
.main_main {
    background: color(white);
    border-color: color(black);
    border-style: solid;
    border-width: $border-regular * 2;
    width: 95%;
    min-width: 300px;
    margin: auto;
    padding: 2% 0;
    margin-bottom: 3%;

    @include md {
        width: 90%;
    };
    
    @include lg {
        width: 80%;
    };

    @include xl {
        width: 70%;
    };
}
/* "Alternate" theme */
.main_alternate {
    background: color(orange);
    border-color: color(white);
    border-style: solid;
    border-width: $border-regular * 2;
    width: 90%;
    // min-width: 300px;
    margin: auto;
    padding: 2% 0;
}

// Fonts
$font-stack: (
    primary: #{'Yellowtail', "Brush Script MT", "Brush Script Std", cursive},
    secondary: #{'boogaloo', Impact, Charcoal, sans-serif,},
    button: #{'Roboto', "Helvetica Neue",}
);

@function font($font-name) {
    @return map-get($font-stack, $font-name)
};

$h1-font-sizes: (
    null: 40px,
    480px: 40px,
    640px: 45px,
    1024px: 60px,
);

$h2-font-sizes: (
    null: 25px,
    480px: 27px,
    640px: 31px,
    1024px: 35px,
);

$p-font-sizes: (
    null: 20px,
    1024px: 35px,
);


@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
        font-size: $fs-font-size;
        }
        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
                }
            }
        }
    }
.h1_main {
    color: color(brown);
    text-shadow: $orange-font-shadow;
    text-align: center;
    position: relative;
    font-family: font(primary);
}

.h2_main {
    font-family: font(secondary);
    margin-bottom: 10%;
    text-align: center;
    color: color(brown);
    }

.h3_main {
    font-family: font(secondary);
    color: color(brown);
    text-shadow: $orange-font-shadow;
    font-family: font(primary);
    text-align: left;
    font-size: 300%;
    margin: 3% 0% 1%;
    }

.h1_alternate {
    color: color(white);
    text-shadow: $dark-font-shadow;
    text-align: center;
    position: relative;
    font-family: font(primary);
}

.h2_alternate {
    color: white;
    font-family: font(secondary);
    text-align: center;
}

.h3_alternate {
    color: white;
    text-shadow: $dark-font-shadow;
    font-family: font(primary);
    text-align: left;
    padding-left: 3%;
    font-size: 250%;
    margin-bottom: 3%;
}

h1, h2, h3 {
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    margin: 2% auto 7%;
    display: block;
    @include font-size($h1-font-sizes);
}

h2 {
    @include font-size($h2-font-sizes)
}


button {
    font-family: font(button);
    font-size: 12px;
    min-height: 35px;
    width: 55%;
    min-width: $button-min-width-xs;
    max-width: $button-max-width-xs;
    text-align: center;
    // padding: 2%;
    border-style: unset;
    border-radius: $small-radius;
    box-shadow: $black-box-shadow;
    @include sm {
        font-size: 14px;
    }
    @include md {
        font-size: 16px;
        min-height: 40px;
        max-width: $button-max-width-md;
    }
    @include xl {
        font-size: 18px;
    }
    &:focus, &:active {
        box-shadow: $orange-box;
        outline: 5px auto color(orange)
    }
}

.hidden {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.visible {
    visibility: visible;
}

// Locker
.lock_icons_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div:nth-of-type(1) {
        justify-self: right;
    }
    div:nth-of-type(2) {
        justify-self: left;
    }
}

.lock {
    width: 35%;
    min-width: 55px;
    max-width: 100px;
    min-height: 40px;
    margin: 60px 10px 0px 10px;
}

.locked {
    justify-self: right;
    @include theme (
        color(light-gradient),
        color(white),
        color(white),
        color(light-orange),
        solid,
        color(light-orange),
        $border-regular
    )
    
}
.unlocked {
    border-style: solid;
    border-color: color(light-orange);
    border-width: $border-regular;
    @include theme (
        color(white),
        color(light-orange),
        color(light-orange),
        color(white),
        solid,
        color(white),
        $border-regular
    )
}

// Draft Page
// Calendar
#in-line {
    margin: 0 auto 10%;
    padding: 0 12%;
}

input {
    color: color(orange);
    text-align: center;
    font-weight: lighter;
    width: 150%;
    max-width: 200px;
    padding: 3%;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    background-color: beige;
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
    @include mm {
        max-width: 300px;
    }
    @include md {
        max-width: 400px;
    }
}
#date_submit {
    margin-top: 2%;
    padding: 2%;
}

.calendar_component {
    margin-left: -2%;
    padding-top: 3%;
}

.organizer {
    display: grid;
    grid-template-columns: 1fr;
    @include md {
        grid-template-columns: 1fr 1fr;
    }
    
}

.game_options_bottom {
    margin-top: 3%;
}

// drafter
.drafter_mode {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.player_div {
    text-align: center;
    width: 120%;
    position: relative;
    left: -8%;
    animation: slideBothArrows 0.7s 0ms ease-in-out 4 alternate;
}

.fa-arrow-circle-left {
    animation: slideright 0.7s 0ms ease-in-out 4 alternate;
    &:hover {
        animation-play-state: paused;
    }
}

.fa-arrow-alt-circle-right {
    animation: slideleft 0.7s 0ms ease-in-out 4 alternate;
    &:hover {
        animation-play-state: paused;
    }
}

.leaning_right_div > .fa-arrow-alt-circle-right {
    animation: unset;
}

.leaning_left_div > .fa-arrow-circle-left {
    animation: unset;
}


@keyframes slideright {
    from {
        left: 0%
    }
    to {
        left: -11%
    }
}

@keyframes slideleft {
    from {
        left: 0%
    }
    to {
        left: 11%
    }
}

.player_button {   
    // width: 35%;
    min-width: $small-width;
    max-width: 200px;
    margin: 10px -8px 10px 8px;
    height: 2.75em;
}


.arrows {
    font-size: 200%;
    position: relative;
    top: 0.2em;
    color: color(brown);
}

.arrows:hover {
    color:  color(blueish)
}

.remove_player {
    position: relative;
    top: -17px;
    left: -3px;
    font-size: 130%;
    color: color(brown);
    &:hover {
        color: red;
    }
}

.unavailable {
    margin-left: -15px;
    @include theme (
        color(grey),
        color(white),
        color(white),
        color(dark-grey),
        solid,
        color(black),
        $border-regular
    )
}

.black_small_screen {
    @include theme(
        color(dark-grey),           // background-color
        color(white),              // color
        color(white),              // :active background-color
        color(dark-grey),           // :active color
        solid,                      // :active border style
        color(dark-grey),           // :actve border column
        $border-regular             // :active border width
        )
}

.white_small_screen {
    @include theme(
        color(light-grey),          // background-color
        color(black),             // color
        color(black),             // :active background-color
        color(light-grey),          // :active color
        solid,                      // :active border style
        color(ligh),                // :actve border column
        $border-regular             // :active border width
        )
}

.negative_color {
    margin-left: -15px;
}

.sorter {
    display: inline-block;
}

// Picker Module
.picker_mode {
    @include md {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.pick_col_header {
    @include md {
        height: 100px;
    }
}
.player_picking {   
    width: 55%;
    max-width: 250px;
    margin: 10px 0% 10px 8px;
    min-width: 150px;
    height: 2.75em;
    &:hover {
        animation: slidearrow 0.9s 200ms ease-in-out 4 alternate;
    }
}

@keyframes slidearrow {
    from {
        margin: 10px 0% 10px 8px;
    }

    to {
        margin: 10px 11% 10px 12%;
    }
}

.pick_arrow {
    position: relative;
    right: -4%;
}

.remove_pick {
    position: relative;
    top: -14px;
    left: 0px;
    &:hover {
        color: red;
    }
}
.pick_number {
    background: color(brown);
    color: color(white);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    position: relative;
    top: 12px;
    left: 5px;

}
.sm_remove_pick {
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 130%;
    text-align: center;
}
.pick_name_button {
    justify-self: center;
}

.sorting-down {
    position: relative;
    top: 10px;
    left: 22px;
}
.sorting-up {
    position: relative;
    top: 0px;
    left: -5px;
}

.up_arrow {
    color: color(blueish);
    position: relative;
    left: 5px;
    top: -10px;
    font-size: 200%;
    
}
.sm_up_arrow {
    color: color(blueish);
    font-size: 200%;
}

@keyframes arrowup {
    from {
        top: -10px;
    }
    to {
        top: -25px;
    }

}
.up_arrow:hover {
    color: color(light-orange);
    animation: arrowup 1s 200ms ease-in-out infinite alternate;
}

.down_arrow {
    color:color(brown);
    position: relative;
    left: -23px;
    top: 22px;
    font-size: 200%;
}
.sm_down_arrow {
    color: color(blueish);
    font-size: 200%;
}

@keyframes arrowdown {
    from {
        top: 22px;
    }
    to {
        top: 37px;
    }

}

.down_arrow:hover {
    color: color(light-orange);
    animation: arrowdown 1s 0.2s ease-in-out infinite alternate;
}

.list_of_unpicked_players {
    @include md {
        margin-left: 15%;
    }
}

.list_of_picked_players {
    @include md {
        display: grid;
        .player_button {
            min-width: 150px;
            margin: 0% auto;
        }
        .remove_pick {
            position: relative;
            top: -17px;
            left: -10px;
            font-size: 130%;
        }
    }
}

.player_picking_div {
    display: grid;
    grid-template-columns: 15% 10% 50% 10% 15%;
    height: 55px;
    @include md {
        display: unset;
        margin: 3% auto;
    }
}

.player_picking_div:first-child {
    .sorter {
        .up_arrow {
            color: color(white)
        }
    }
    .sorting-up {
        .sm_up_arrow {
            color: color(white)
        }
    }
}
.player_picking_div:last-child {
    .sorter {
        .down_arrow {
            color: color(white)
        }
    }
    .sorting-down {
        .sm_down_arrow {
            color: color(white)
        }
    }
}
.player_to_pick_div {
    width: 80%;
    margin: auto;
}
.pick_arrow_plus {
    margin-left: 3%;
    font-size: 160%;
}

// general aspect 
.change_list_display {
    margin: 7% auto 3% auto;
    padding: 1% 2%;
    border-style: unset;
    border-radius: $small-radius;
    min-height: 30px;
    min-width: 150px;
}
.game_options {
    min-width: 150px;
    width: 55%;
}

.game_options_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    button {
        min-width: $button-min-width-xs * 0.75;
        max-width: $button-max-width-xs;
        @include md {
            width: 75%;
            max-width: $button-max-width-md;
        }
    }
}

.button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    button {
        min-width: 100px;
        height: 40px;
        justify-self: center;
        @include md {
            height: 60px;
        }
    }
}
.game_toggle_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

// GameList
.game_button {
    font-weight: bold;
    margin: 2% 0% 6%;
    @include md {
        font-weight: unset;
        margin: 5% 0% 10%;
    }
}

.show_games {
    min-width: 50px;
    text-align: center;
}

.remove_game {
    position: relative;
    font-size: 125%;
    top: -12px;
    left: -12px;
    @include md {
        top: -20px;
    }
    &:hover {
        color: red;
    }
}

.list-management {
    overflow: scroll;
    max-height: 200px;
    padding: 3% 0%;
    margin: auto;
    width: 70%;
}
.no_game {
    border-style: solid;
    text-align: center;
    border-width: $border-regular * 2;
    border-color: color(light-orange);
    opacity: 0.7;
    color: color(light-orange);
    font-family: font(secondary);
    font-size: 130%;
    margin: 0px 10% 0% 10%;
    padding: 3% 2% 3% 2%;
    @include md {
        margin: 0%;
    }
}
/* for the date picker */
.react-datepicker__navigation--next {
    right: 0px;
    border-left-color: #ccc;
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.react-datepicker__navigation--previous {
    left: 0px;
    border-right-color: #ccc;
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.react-datepicker__input-container {
    input {
        width: 100%;
        min-width: 200px;
        min-height: 25px;

        @include sm {
            width: 130%;
            max-width: 260px;
        }
        
        @include md {
            width: 150%;
            max-width: 300px;
        }

        @include lg {
            width: 175%;
            max-width: 350px;
        }
    }

}
// GameOptionsBottom
.buffer {
    width: 33%;
}
.pick_option {
    width: 13%;
    margin: auto;
}
.draft_option {
    width: 17%;
    margin: auto;
}
.reduced_container {
    width: 90%;
    margin: auto;
    padding: 0px;
    text-align: center;
}

// SmallScreenDrafter
.small_screen_team_names_header {
    display : grid;
    grid-template-columns: 1fr 1fr;

    .arrows {
        font-size: 80%;
        position: unset;
        padding: 0 2%;
        color: color(brown);
    }
}
.sstnhd h1 {
    text-align: left;
}

.sstnhw h1 {
    text-align: right;
}

.small_teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sm_dark {
    transform: rotate(90deg)
}
.sm_white {
    transform: rotate(270deg)
}
.small_screen_arrows {
    font-size: 150%;
    position: relative;
    animation: upanddown 1.2s ease-in-out 4 alternate;
}
@keyframes upanddown {
    from {
        top: -15px;
    }
    to {
        top: 5px;
    }
}
// Picker
.ranks_col {
    margin-bottom: 7%;
}


// Stats
.table_container {
    padding: 0 15px;
}
.tables_container {
    @include lg {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.stats_name, .player_table_name {
    font-variant: small-caps;
    font-size: 115%;
    padding-left: 10%;
    @include md {
        font-size: 145%;
    }
    @include lg {
        font-size: 115%;
    }
}
.darker_icon, .lighter_icon {
    font-size: 155%;
    @include sm {
        font-size: 185%;
    }
    @include md {
        font-size: 200%;
    }
    @include lg {
        font-size: 185%;
    }
}
.score_header_tr {
    text-align: center;
}

.darker_icon {
    color: color(orange);
}

.lighter_icon {
    color: color(light-orange);
}

.data {
    border-style: solid;
    border-width: $border-regular *2;
    background: color(white);
    height: 50px;
    margin: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

thead > tr, .stats_row {
    height: 60px;
    display: grid;
    grid-template-columns: minmax(100px, 300px) minmax(100px, 170px) minmax(100px, 170px);
    align-items: center;
}

.stats {
    text-align: center;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
}

.nice, .good {
    border-width: $border-regular * 4;
    font-weight: bold;
    background: color(white);
    border-color: color(orange);
}

td [class*="circle"] {
    justify-self: center;
};


.full {
    width: 100%;
}

.no_stats_message{
    margin: auto;
}

// Past Game List
.list_of_games {
    // width: 100%;
    padding: 0 5% 0 5%;
    margin-top: -5%;
}
.past_game_button {
    width: 15%;
    min-width: 130px;
    margin: 5% 0% 3% 5%;
    font-size: 14px;
    height: 35px;
}
.past_game_button:last-child {
    margin-bottom: 15%;
}

.month_game_played {
    display: grid;
    grid-template-columns: 1fr 1fr;
    button {
        justify-self: center;
    }
    @include sm {
        grid-template-columns: 1fr 1fr 1fr;        
    }
    @include mm {
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
    @include lg {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;        
    }
}
.games_per_year {
    border-style: solid;
    border-width: $border-regular * 2;
    border-color: color(grey);
    padding-top: 2%;
}

.hide_year_button {
    text-align: right;
    position: relative;
    top: -50px;
    color: color(orange);
}

// Records
.header {
    margin-bottom: 5%;
    padding-left: 2%;
}
.header_icon {
    margin-right: 3%;
}
.header_h3 {
    font-family: boogaloo;
    font-size: 170%;
}
// Data Chart
.chart{
    width: 75%;
    /* height: 700px; */
    margin: auto;
}

.chart_button {
    margin: 2%;
    height: 40px;
    min-width: 150px;
    border-radius: 20px;
}

.selected_chart_goals {
    /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
    background: rgba(255, 99, 132, 0.6);
    color: white;
}

.unselected_chart_goals {
    color: rgba(255, 99, 132, 0.6);
    border-style: solid;
    border-color: rgba(255, 99, 132, 0.6);
    border-width: 2px;
    background-color: white;
}

.selected_chart_assists {
    /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
    background: rgba(54, 162, 235, 0.6);
    color: white;
}

.unselected_chart_assists {
    color: rgba(54, 162, 235, 0.6);
    border-style: solid;
    border-color: rgba(54, 162, 235, 0.6);
    border-width: 2px;
    background-color: white;
}

.selected_chart_games {
    /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
    background: rgba(255, 206, 86, 0.6);
    color: white;
}

.unselected_chart_games {
    color: rgba(255, 206, 86, 0.6);
    border-style: solid;
    border-color: rgba(255, 206, 86, 0.6);
    border-width: 2px;
    background-color: white;
}

.selected_chart_wins {
    /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
    background: rgba(75,192,192,0.6);
    color: white;
}

.unselected_chart_wins {
    color: rgba(75,192,192,0.6);
    border-style: solid;
    border-color: rgba(75,192,192,0.6);
    border-width: 2px;
    background-color: white;
}

.selected_chart_gpg {
    /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
    background: rgba(153,102,255,0.6);
    color: white;
}

.unselected_chart_gpg {
    color: rgba(153,102,255,0.6);
    border-style: solid;
    border-color: rgba(153,102,255,0.6);
    border-width: 2px;
    background-color: white;
}

.selected_chart_apg {
    /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
    background: rgba(255, 159, 64, 0.6);
    color: white;
}

.unselected_chart_apg {
    color: rgba(255, 159, 64, 0.6);
    border-style: solid;
    border-color: rgba(255, 159, 64, 0.6);
    border-width: 2px;
    background-color: white;
}

.chart {
    position: relative;
}

.chart > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.chartAreaWrapper {
    width: 100%;
    min-height: 300px;
    overflow-y: scroll;
}

// Showcase
@mixin unselected($mainCol, $bkCol) {
    color: $mainCol;
    border-color: $mainCol;
    border-style: solid;
    border-width: $border-regular * 2;
    background-color: $bkCol;
};

@mixin selected($mainCol, $fontCol) {
    background: $mainCol;
    color: $fontCol
};

.records {
    width: 90%;
    margin: auto;
}

.records {
    display: grid;
    grid-template-columns: 1fr;
    button {
        justify-self: center;
    }
    @include sm {
        grid-template-columns: 1fr 1fr;        
    }
    @include mm {
        grid-template-columns: 1fr 1fr 1fr;        
    }
    @include lg {
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
}
.wrapping_card_div {
    justify-self: center;
    width: 70%;
    @include sm {
        width: 95%;
    }
}

.player_card {
    border-style: solid;
    border-width: $border-regular * 2;
    border-radius: $small-radius * 4;
    justify-self: center;
    padding: 2%;
    margin: 2%;
    &:last-child {
        margin-bottom: 20%;
    }
    @include sm {
        height: 200px;
        overflow-y: scroll;
    }
}

.player_name {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 70%;
    padding-bottom: 4%;
    margin-bottom: 10%;
    text-align: center;
    margin: 0 auto 2%;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 125%;
}

.player_data {
    padding-top: 8%;
}

.member_record {
    color: color(blue);
    border-color: color(blue);
}

.non_member_record {
    color: color(orange);
    border-color: color(orange);
}

.entry {
    font-variant: small-caps;
}

.addendum {
    padding-left: 5%;
    font-size: 85%;
}

.value {
    font-weight: bold;
}

.unselected_tab {
    @include unselected(color(blue), color(white) )
}

.list_of_options {
    margin-bottom: 7%;
    padding: 0 5% 0 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    button {
        margin: 1% auto;
        min-width: 130px;
        @include sm {
            min-width: 151px;
        }
    }
}

.list_of_options.hidden {
    margin-bottom: 0px;
}

.tab_button {
    border-radius: 20px;
    padding: 10px 1% 10px 2%;
    max-height: 50px;
}

.selected_tab {
    @include selected(color(blue-gradient), color(white))
}

.sort_action_icon {
    margin-left: 15px;
}
.sorting_arrow {
    font-size: 130%;
}
.active {
    color: color(orange);
}

.inactive {
    color: color(blue);
}

.position_dot {
    font-size: 50%;
    position: relative;
    bottom: 20%;
    left: 5%;
}

.button_options_second_set {
    margin: 7% auto;
    text-align: center;
}

.hidden_card {
    display: none;
}

.hide_button {
    text-align: center;
}

// Player selector
.list_of_players {
    width: 100%;
    padding: 0 5% 0 5%;
    margin-top: -5%;
    text-align: center;
}

.record_player_button {
    margin: 3%;
    min-width: 150px;
    border-radius: 20px;
}

.selected_member {
    @include selected(color(blue-gradient), color(white));
}
.selected_non_member {
    @include selected(color(plain_orange-gradient), color(white));
}

.unselected_member {
    @include unselected(color(blue), color(white) )
}

.unselected_non_member {
    @include unselected(color(orange), color(white))
}

.player_action_icon {
    margin-left: 10px;
}

.button_options_first_set {
    text-align: center;
    margin: 0% auto 7%;
    padding-left: 15px;
}

// Game Selector
.record_game_button {
    margin: 3%;
    min-width: 150px;
    border-radius: 20px;
}

.selected_game {
    @include selected(color(blue-gradient), color(white));
}

.unselected_game {
    @include unselected(color(blue), color(white))
}

.game_action_icon {
    margin-left: 10px;
}

.record_list_of_games{
    text-align: center;
    padding: 0 3% 4%
}

.button_options_third_set{
    text-align: center;
    margin: 0% auto 1%;
    padding-left: 15px;
}

// Filters
.check_list {
    list-style-type: none;
    font-size: larger;
}
.filter_panel {
    width: 40%;    
    border-radius: 20px;
    padding: 1%;
    color: color(blue);
    display: inline-grid;
}

.filter_name {
    text-align: center;
    font-family: boogaloo, cursive;
    margin-bottom: 5%;
}

.filter_item {
    margin: 5% 0;
    min-height: 35px;
    padding: 3%;
    border-radius: 10px;
}

/* custom select menu */
/* See: https://www.w3schools.com/howto/howto_custom_select.asp */
.custom-select {
    position: relative;
    font-family: Arial;
    width: unset;
    font-size: smaller;
    margin: 0 2px;
    }
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: DodgerBlue;
}
  /*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  /*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
  /*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
  /*style items (options):*/
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
  /*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

// Date Selector
.date_pickers {
    display: inline;
}
// Date Range
#range_submit {
    margin: 5% 0% 0% 91%;
}

.records_calendar {
    width: 100%;
    display: inline-flex;
    margin: 1% 0% 5% 0%;
}
.calendar_alignment{
    margin: 0 0 0 10%;
    width: 25%;
}
.react-datepicker__close-icon {
    position: absolute;
    top: 50%;
    left: 150%;
}

// Player Page
$table-width: 90%;
$table-width-bg: 80%;
$table-width-max: 700px;

.tab_centering {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
}
.two_tab_centering {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    span {
        height: 30px;
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        text-align: center;
        padding-top: 7%;
    }
    @include sm {
        width: 80%;
        max-width: 700px;
    }

}

.tab {
    height: 40px;
    padding: 1%;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.player_table_head {
    width: $table-width;
    margin: auto;
    @include sm {
        width: $table-width-bg;
    }
    @include md { 
        max-width: $table-width-max;
    }
}

.show_tab {
    background: color(white);
    color: color(black);
    border-style: solid solid none solid;
    border-width: $border-regular * 2;
    border-color: color(black) color(black) color(white) color(black);
}

.hide_tab {
    background: color(light-orange);
    color: color(dark-grey);
    border-color: color(orange) color(orange) color(black) color(orange);
    border-style: none solid solid solid;
    border-width: $border-regular * 2;
}

.passive_tab {
    border-bottom-style: solid;
    border-bottom-width: $border-regular * 2;
    border-bottom-color: color(black);
    color: color(orange);
}

.main_for_tab {
    background: color(white);
    border-style: none solid solid solid;
    border-color: color(black);
    border-width: $border-regular * 2;
    margin: 0px auto;
    width: $table-width;
    @include sm {
        width: $table-width-bg;
    }

    @include md {
        max-width: $table-width-max
    }

}

.full_size {
    width: 100%;
}

#range_submit {
    margin: 5% 0% 0% 91%;
}
// form
label {
    color: color(grey);
    text-shadow: $orange-subtle;
    display: inline-block;
    margin-bottom: .5rem;
    margin: 3% 16% 3% 1%;
}
.form_container {
    width: 100%;
    margin: auto;
    padding: 1%;
    input {
        display: block;
        margin: auto;
        width: 100%;
    }
}
.field {
    margin: 2% 0% 5%;
}
// input {
//     margin: 1% 5% 1% 5%;
// }

// List
/* table formatting */

table {
    border-collapse: collapse;
    display: table;
    tr:nth-child(even) {
        background-color: color(light-grey);
    }
}
.player_table {
    width: 100%;
}
.player_table_name {
    display: flex;
    align-items: center;
}
.player_table_row {
    padding: 5% 0%;
    display: grid;
    grid-template-columns: 30% 70%;
    &:first-child {
        padding-top: 7%;
    }
    @include md {
        padding: 3% 0%; 
    }

    @include lg {
        &:first-child {
            padding: 5% 0 2%;
        }
        padding: 2% 0%; 
    }
    .player_manage_buttons {
        display: grid;
        justify-self: center;
        @include sm {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        button {
            margin: 0 2%;
        }
    }
}


.hidden.full_tab_size {
    display: none;
}

// Navbar
// [class^="main"] {
//     margin-top: 300px;
// }

nav {
    background: color(grey);
    overflow: hidden;
    // position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.darkNavBar {
    background: #343a40;
    a {
        text-decoration: none;
        background-color: transparent;
    }
    .hidden {
        transition: visibility 0s linear 10ms, opacity 300ms;
    }
}
.noShow {
    height: 0px;
    transition: all 200ms ease-in-out;
}

.show {
    padding: 1.5rem;
    height: 300px;
    transition: all 200ms ease-in-out;
}

.nav-item .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-item {
    display: block;
    padding: .5rem 1rem;
}
.nav-link {
    font-family: font(secondary);
    font-size: 125%;
    color: color(light-orange);
    &:hover {
        color: #17a2b8;
    }
}

nav button {
    box-shadow: unset;
}
.navbar {
    margin-bottom: 3%;
}

.navbar-toggler {
    background: color(grey);
    margin-left: 73%;
    margin-top: 3%;
    height: 90px;
    @include md {
        height: 115px;
    };
    @include xl {
        height: 130px;
    }
}

.nav_title {
    font-family: font(primary);
    font-size: 200%;
    color: color(white);
    text-shadow: $orange-title-shadow;
    margin-top: unset;
    margin-bottom: 1%;
    font-weight: unset;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

img {
    width: 80%;
    @include md {
        width: 115px;
    };
    @include xl {
        width: 130px;
    }
}

