.header {
  margin-bottom: 5%;
  padding-left: 2%;
}

.header_icon {
  margin-right: 3%;
}

.header_h3 {
  font-family: boogaloo;
  font-size: 170%;
}

.chart {
  width: 75%;
  /* height: 700px; */
  margin: auto;
}

.chart_button {
  margin: 2%;
  height: 40px;
  min-width: 150px;
  border-radius: 20px;
}

.selected_chart_goals {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(255, 99, 132, 0.6);
  color: white;
}

.unselected_chart_goals {
  color: rgba(255, 99, 132, 0.6);
  border-style: solid;
  border-color: rgba(255, 99, 132, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_assists {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(54, 162, 235, 0.6);
  color: white;
}

.unselected_chart_assists {
  color: rgba(54, 162, 235, 0.6);
  border-style: solid;
  border-color: rgba(54, 162, 235, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_games {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(255, 206, 86, 0.6);
  color: white;
}

.unselected_chart_games {
  color: rgba(255, 206, 86, 0.6);
  border-style: solid;
  border-color: rgba(255, 206, 86, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_wins {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(75, 192, 192, 0.6);
  color: white;
}

.unselected_chart_wins {
  color: rgba(75, 192, 192, 0.6);
  border-style: solid;
  border-color: rgba(75, 192, 192, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_gpg {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(153, 102, 255, 0.6);
  color: white;
}

.unselected_chart_gpg {
  color: rgba(153, 102, 255, 0.6);
  border-style: solid;
  border-color: rgba(153, 102, 255, 0.6);
  border-width: 2px;
  background-color: white;
}

.selected_chart_apg {
  /* background: linear-gradient(70deg, #DE733A,#EA8D47); */
  background: rgba(255, 159, 64, 0.6);
  color: white;
}

.unselected_chart_apg {
  color: rgba(255, 159, 64, 0.6);
  border-style: solid;
  border-color: rgba(255, 159, 64, 0.6);
  border-width: 2px;
  background-color: white;
}

.chart {
  position: relative;
}

.chart > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  width: 100%;
  min-height: 300px;
  overflow-y: scroll;
}

.player_card {
  border-style: solid;
  border-width: 1px;
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 20px;
  padding: 1% 1% 1% 2%;
  margin: 1% 1% 1% 2%;
  width: 22%;
  height: 200px;
}

.player_name {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 70%;
  padding-bottom: 4%;
  margin-bottom: 10%;
  text-align: center;
  margin: 0 auto 2%;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 125%;
}

.player_data {
  padding-top: 8%;
  position: relative;
  overflow: scroll;
}

.member_record {
  color: teal;
  border-color: teal;
}

.non_member_record {
  color: #EA8D47;
  border-color: #EA8D47;
}

.entry {
  font-variant: small-caps;
}

.addendum {
  padding-left: 5%;
  font-size: 85%;
}

.value {
  font-weight: bold;
}

.unselected_tab {
  color: teal;
  border-style: solid;
  border-color: teal;
  border-width: 2px;
  background-color: white;
}

.tab_button {
  margin: 1% 3%;
  border-radius: 20px;
  padding: 10px 1% 10px 2%;
  max-height: 50px;
}

.selected_tab {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: white;
}

.sort_action_icon {
  margin-left: 15px;
}

.sorting_arrow {
  font-size: 130%;
}

.active {
  color: #EA8D47;
}

.inactive {
  color: teal;
}

.list_of_options {
  margin-bottom: 7%;
  padding: 0 5% 0 5%;
}

/* .dot_Defense {
    color: rgba(255, 99, 132, 0.6);
}

.dot_Forward {
    color: rgba(54, 162, 235, 0.6);
}

.dot_Goalie {
    color: rgba(255, 159, 64, 0.6);
} */
.position_dot {
  font-size: 50%;
  position: relative;
  bottom: 20%;
  left: 5%;
}

.button_options_second_set {
  margin: 7% auto;
  text-align: center;
}

/* .unselected_forward {
    color: #b39ddb;
    border-style: solid;
    border-color: #b39ddb;
    border-width: 2px;
    background-color: white;
}

.selected_forward {
    background: #b39ddb;
    color: white;
}

.unselected_goalie {
    color: #5d4037;
    border-style: solid;
    border-color: #5d4037;
    border-width: 2px;
    background-color: white;
}

.selected_goalie {
    background: #5d4037;
    color: white;
}

.unselected_defense {
    color: #fbc02d;
    border-style: solid;
    border-color: #fbc02d;
    border-width: 2px;
    background-color: white;
}

.selected_defense {
    background: #fbc02d;
    color: white;
} */
.wrapping_card_div {
  display: inline;
}

.hidden_card {
  display: none;
}

.records {
  padding: 0 5%;
}

.hide_button {
  text-align: center;
}

.list_of_players {
  width: 100%;
  padding: 0 5% 0 5%;
  margin-top: -5%;
  text-align: center;
}

.record_player_button {
  margin: 3%;
  min-width: 150px;
  border-radius: 20px;
}

.selected_member {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: white;
}

.unselected_member {
  color: teal;
  border-style: solid;
  border-color: teal;
  border-width: 2px;
  background-color: white;
}

.selected_non_member {
  background: linear-gradient(70deg, #DE733A, #EA8D47);
  color: white;
}

.unselected_non_member {
  color: #EA8D47;
  border-style: solid;
  border-color: #EA8D47;
  border-width: 2px;
  background-color: white;
}

.player_action_icon {
  margin-left: 10px;
}

.button_options_first_set {
  text-align: center;
  margin: 0% auto 7%;
  padding-left: 15px;
}

.record_game_button {
  margin: 3%;
  min-width: 150px;
  border-radius: 20px;
}

.selected_game {
  background: linear-gradient(160deg, teal, #17a2b8);
  color: white;
}

.unselected_game {
  color: teal;
  border-style: solid;
  border-color: teal;
  background-color: white;
  border-width: 2px;
}

.game_action_icon {
  margin-left: 10px;
}

.record_list_of_games {
  text-align: center;
  padding: 0 3% 4%;
}

.button_options_third_set {
  text-align: center;
  margin: 0% auto 1%;
  padding-left: 15px;
}

.check_list {
  list-style-type: none;
  font-size: larger;
}

.filter_panel {
  width: 40%;
  border-radius: 20px;
  padding: 1%;
  color: teal;
  display: -ms-inline-grid;
  display: inline-grid;
}

.filter_name {
  text-align: center;
  font-family: boogaloo, cursive;
  margin-bottom: 5%;
}

.filter_item {
  margin: 5% 0;
  min-height: 35px;
  padding: 3%;
  border-radius: 10px;
}

/* custom select menu */
/* See: https://www.w3schools.com/howto/howto_custom_select.asp */
.custom-select {
  position: relative;
  font-family: Arial;
  width: unset;
  font-size: smaller;
  margin: 0 2px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.date_pickers {
  display: inline;
}

#range_submit {
  margin: 5% 0% 0% 91%;
}

.records_calendar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1% 0% 5% 0%;
}

.calendar_alignment {
  margin: 0 0 0 10%;
  width: 25%;
}

.react-datepicker__close-icon {
  position: absolute;
  top: 50%;
  left: 150%;
}
/*# sourceMappingURL=records.css.map */