.show_games {
    min-width: 50px;
    text-align: center;
}
.remove_game {
    position: relative;
    font-size: 115%;
    top: -24px;
    left: -2%;
}
.remove_game:hover {
    color: red;
}
.list-management {
    overflow: scroll;
    max-height: 200px;
}
.hidden{
    visibility: hidden;
    height: 0px;
}
.visible {
    visibility: visible;
}