.lock {
    min-height: 40px;
    margin: 60px 10px 0px 10px;
}
.locked {
    color: white;
    background: orange;
    border-color: white;
}

.unlocked {
    color: orange;
    background: white;
    border-color: orange;
}