/* table formatting */
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
padding: 8px;
}
th {
    text-align: center;
}
td {
    text-align: left;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
thead > th {
    font-variant: small-caps;
    font-weight: bold;
}
.player_table {
    text-align: center;
    position: relative;
    left: 10%;
}  
.button_space_playerList {
    margin: 5px 5px 5px 20px;
}